{% extends 'base.html' %}
{% block content %}
	
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="page-404-layout">
				<div class="page-404-wrapper">
					<h1 class="hidden">Page not found</h1>
					<div class="container">
						<div class="row">
							<div class="page-404-inner">
								<div class="page-404-content">
									<div class="page-left col-sm-6">
										<h2>Page not found</h2>
										<p class="caption">Oh my gosh! you found it !!!</p>
										<p class="subtext">Looks like the page you're trying to visit doesn't exist. Please check the URL and try your lick again</p>
										<a class="_btn" href="./index.html">Back to home page</a>
									</div>
									<div class="page-right col-sm-6">
										<form class="search" action="./search.html" style="position: relative;">
											<input type="hidden" name="type" value="product">
											<input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
											<button class="search-submit" type="submit">
												<span class="cs-icon icon-search"></span>
											</button>
										</form>
										<ul class="page-list-collection">
											<li><a href="./collections.html">Drinks </a></li>
											<li><a href="./collections.html">Fast food </a></li>
											<li><a href="./collections.html">French Fries </a></li>
											<li><a href="./collections.html">Hamburger </a></li>
											<li><a href="./collections.html">Pizza </a></li>
											<li><a href="./collections.html">Tasty Flyers </a></li>
										</ul>
										<div class="search-results" style="position: absolute; left: 0px; top: 100%; display: none;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}