{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">About Us</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./about-us.html" title="About Us" itemprop="url"><span itemprop="title">About Us</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-about-template" class="shopify-section">
									<div class="about-content">
										<div class="introduction_layout">
											<div class="introduction_inner">
												<div class="page_title">
													<h2 class="title">
														<span class="first">About</span>
														<span class="last"> Yummy</span>
													</h2>
													<p class="caption">Tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
												</div>
												<div class="introduction_content">
													<img src="static/assets/images/1158x488.png" alt="">
													<div class="introduction_description">
														<p class="italics">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet voluptas assumenda est, omnis dolor repellendus quis nostrum. Temporibus autem quibusdam et aut officiis debitis aut rerum dolorem necessitatibus saepe eveniet ut et neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
														<p class="normal">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="team_layout">
											<div class="page_title">
												<h2 class="title">
													<span class="first">Our</span>
													<span class="last"> Yummy Team</span>
												</h2>
												<p class="caption">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat</p>
											</div>
											<div class="team_inner">
												<div class="team_content">
													<div class="team_item col-sm-4">
														<div class="item_avatar">
															<img src="static/assets/images/1100x1107.png" alt="">
														</div>
														<div class="item_content">
															<p class="item_name">
																sara bethel
															</p>
															<p class="item_position">
																Chef
															</p>
															<p class="item_description">
																Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
															</p>
														</div>
													</div>
													<div class="team_item col-sm-4">
														<div class="item_avatar">
															<img src="static/assets/images/1100x1107.png" alt="">
														</div>
														<div class="item_content">
															<p class="item_name">
																odio tincidunt
															</p>
															<p class="item_position">
																CEO/Founder
															</p>
															<p class="item_description">
																Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
															</p>
														</div>
													</div>
													<div class="team_item col-sm-4">
														<div class="item_avatar">
															<img src="static/assets/images/1100x1107.png" alt="">
														</div>
														<div class="item_content">
															<p class="item_name">
																odio tincidunt
															</p>
															<p class="item_position">
																Chef
															</p>
															<p class="item_description">
																Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

{% endblock content %}