{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">Mi cuenta</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index" title="Fast Food" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./cuenta" title="Mi cuenta" itemprop="url"><span
                                                    itemprop="title">Mi cuenta</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account-layout">
                <div class="account-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="account-inner">
                                <div class="account-content">
                                    <div class="account-info">
                                        <div class="account-details col-sm-6">
                                            <h3 class="details-title">Detalles de su cuenta</h3>
                                            <div class="details-content">
                                                <div class="details-item name">
                                                    <span class="title">Nombre:</span>
                                                    <span class="content">{{ user.get_full_name }}</span>
                                                </div>
                                                <div class="details-item">
                                                    <span class="title">E-mail:</span>
                                                    <a class="content">{{ user.email }}</a>
                                                </div>
                                                <div class="details-item">
                                                    <span class="title">Facultad</span>
                                                    {% for cafeteria in cafeterias %}
                                                        <address class="content">{{ cafeteria.facultad }}. {{ cafeteria.universidad.nombre }}</address>
                                                    {% endfor %}
                                                </div>
                                                <div class="details-item">
                                                    <span class="title">Rol</span>
                                                    <a class="content">{{ empleado.get_tipo_empleado_display }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="account-link col-sm-6">

                                            <h3 class="link-title" align="center">Acciones</h3>
                                            <div class="link-content" align="center">
                                                <button class="btn btn-default" onclick="$(this).sendPasswordEmail();">Regenerar contraseña</button>
                                                <br><br>
                                                <button class="btn btn-default" onclick="location.href='mailto:modificaciones@cafetering.es'" >Requirir modificación</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
<script>
        $.fn.sendPasswordEmail = function () {
            $.ajax({
                url: "/ajax/reset_password",
                dataType: 'json',
                success: function (data) {
                    alert("Mensaje enviado correctamente");
                }
            });
        };

</script>
{% endblock content %}