<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="/" />
	<meta name="theme-color" content="#7796A8">
	<meta name="description" content="" />
	<title>
	My Account - Fast Food
	</title>
	
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playball:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<link href="static/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">  
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/fonts.googleapis.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/icon-font.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/social-buttons.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/cs.styles.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/font-icon.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/spr.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/slideshow-fade.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/cs.animate.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/themepunch.revolution.css" rel="stylesheet" type="text/css" media="all">
	<link href="static/assets/stylesheets/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all">
	
	<script type="text/javascript" src="static/assets/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/classie.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/application-appear.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/cs.script.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.currencies.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.zoom.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/linkOptionSelectors.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/owl.carousel.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/scripts.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/social-buttons.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="static/assets/javascripts/jquery.fancybox.js"></script>

</head>

<body class="fastfood_1" >

	<!--Header-->
	<header id="top" class="header clearfix">
		<div id="shopify-section-theme-header" class="shopify-section">
			<div data-section-id="theme-header" data-section-type="header-section">
				<section class="main-header">
					<div class="main-header-wrapper">
						<div class="container clearfix">
							<div class="row">
								<div class="main-header-inner">
									<div class="nav-logo">
										<a href="./index.html"><img src="static/assets/images/170x177.png" alt="" title="Fast Food" /></a>
										<h1 style="display:none"><a href="/">Fast Food</a></h1>
									</div>
									<div class="nav-top">
										<div class="nav-menu">
											<ul class="navigation-links ">
												<li class="nav-item dropdown navigation">
													<a href="./collections.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
														<span>Hamburger</span>
														<i class="fa fa-angle-down"></i>
														<i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i>
													</a>
													<ul class="dropdown-menu">
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Whopper</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Chicken Burger</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Beef Burger</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">DOUBLE WHOPPER</a>
														</li>
													</ul>
												</li>
												<li class="nav-item dropdown navigation">
													<a href="./collections.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
														<span>Pizza</span>
														<i class="fa fa-angle-down"></i>
														<i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i>
													</a>
													<ul class="dropdown-menu">
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Popular pizzas</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Meats</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Chicken</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections.html">Veggie</a>
														</li>
													</ul>
												</li>
												<li class="nav-item">
													<a href="./collections.html">
														<span>Fast food</span>
													</a>
												</li>
												<li class="nav-item">
													<a href="./collections.html">
														<span>Drinks</span>
													</a>
												</li>
												<li class="nav-item">
													<a href="./super-deal.html">
														<span>Combo buy</span>
													</a>
												</li>
												<li class="nav-item dropdown navigation">
													<a href="./contact.html" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
														<span>Pages</span>
														<i class="fa fa-angle-down"></i>
														<i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i>
													</a>
													<ul class="dropdown-menu">
														<li class="li-sub-mega">
															<a tabindex="-1" href="./blog.html">Blogs</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./about-us.html">About Us</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./contact.html">Contact</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./faqs.html">FAQs</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./lookbook.html">Lookbook</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./super-deal.html">Super Deal</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./404.html">404</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="./collections-all.html">All Collections</a>
														</li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="nav-icon">
											<div class="m_search search-icon">
												<a href="" data-toggle="modal" data-target="#lightbox-search">
													<i class="fa fa-search"></i>
												</a>
											</div>
											<div class="icon_cart">
												<div class="m_cart-group">
													<a class="cart dropdown-toggle dropdown-link" data-toggle="dropdown">
														<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
														<div class="num-items-in-cart">
															<div class="items-cart">
																<div class="num-items-in-cart">
																	<i class="fa fa-shopping-cart"></i>
																	<span class="cart_text"> 
																		Cart <span class="number">(2)</span>                       
																	</span>
																</div>
															</div>
														</div>
													</a>
													<div class="dropdown-menu cart-info">
														<div class="cart-content">
															<div class="text-items"><span>2 item(s) in the shopping cart</span> <span class="cs-icon icon-close close-dropdown"></span> </div>
															<div class="items control-container">
																<div class="group_cart_item">
																	<div class="cart-left"><a class="cart-image" href="./product.html"><img src="static/assets/images/800x800.png" alt="" title=""></a></div>
																	<div class="cart-right">
																		<div class="cart-title"><a href="./product.html">Extra Crispy - Small / Black / Black Bottom Cupcakes</a></div>
																		<div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
																		<div class="cart-qty">
																			<span class="quantity">Qty: 1</span>
																			<a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="./wish-list.html">
																				<span class="cs-icon icon-heart"></span>
																			</a>
																			<a class="cart-close" title="Remove" href="javascript:void(0);">
																				<span class="cs-icon icon-bin"></span>
																			</a>
																		</div>
																	</div>
																</div>
																<div class="group_cart_item">
																	<div class="cart-left"><a class="cart-image" href="./product.html"><img src="static/assets/images/800x800.png" alt="" title=""></a></div>
																	<div class="cart-right">
																		<div class="cart-title"><a href="./product.html">Juice Ice Tea</a></div>
																		<div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
																		<div class="cart-qty">
																			<span class="quantity">Qty: 2</span>
																			<a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="./wish-list.html">
																				<span class="cs-icon icon-heart"></span>
																			</a>
																			<a class="cart-close" title="Remove" href="javascript:void(0);">
																				<span class="cs-icon icon-bin"></span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
															<div class="action"><button class="_btn" onclick="window.location='./cart.html'">View All Your Cart</button><button class="_btn float-right" onclick="window.location='./cart.html'">Proceed To Checkout</button></div>
														</div>
													</div>
												</div>
											</div>
											<div class="icon_accounts">
												<div class="m_login-account">
													<span class="dropdown-toggle login-icon" data-toggle="dropdown">
														<i class="fa fa-ellipsis-v"></i>
														<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
													</span>
													<div class="m_dropdown-login dropdown-menu login-content">
														<div class="clearfix">
															<ul class="account-content">
																<li class="avata-item">
																	<i class="fa fa-user" aria-hidden="true"></i>
																	<p class="user-name">Jin Alkaid</p>
																</li>
																<li class="link-item"><a href="./account.html"><i class="fa fa-user"></i>My Account</a></li>
																<li class="link-item"><a href="./account.html"><i class="fa fa-shopping-cart"></i>My orders</a></li>
																<li class="link-item"><a href="./wish-list.html"><i class="fa fa-heart"></i>My Wishlist</a></li>
																<li class="link-item"><a href="./compare.html"><i class="fa fa-exchange"></i>My Compare</a></li>
																<li class="link-item"><a href="./contact.html"><i class="fa fa-life-ring"></i>Support</a></li>
																<li class="link-item"><a href="./index.html"><i class="fa fa-sign-out"></i>Logout</a></li>
															</ul>
															<ul class="currencies currencies-content">
																<li class="currency-USD active">
																	<a href="javascript:;">USD</a>
																	<input type="hidden" value="USD">
																</li>
																<li class="currency-GBP">
																	<a href="javascript:;">GBP</a>
																	<input type="hidden" value="GBP">
																</li>
																<li class="currency-EUR">
																	<a href="javascript:;">EUR</a>
																	<input type="hidden" value="EUR">
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="navMobile-navigation">
										<div class="navMobile-logo">
											<a href="./index.html"><img class="header-logo-image" src="static/assets/images/170x177.png" alt="" title="Fast Food" /></a>
										</div>
										<div class="group_mobile_right">
											<div class="nav-icon">
												<div class="m_search search-tablet-icon">
													<span class="dropdownMobile-toggle search-dropdown">
														<span class="icon-dropdown cs-icon icon-search" data-class="cs-icon icon-search"></span>
														<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i>
													</span>
													<div class="m_dropdown-search dropdown-menu search-content">
														<form class="search" action="./search.html">
															<input type="hidden" name="type" value="product" />
															<input type="text" name="q" class="search_box" placeholder="search our store" value="" />
															<span class="search-clear cs-icon icon-close"></span>
															<button class="search-submit" type="submit">
																<span class="cs-icon icon-search"></span>
															</button>
														</form>
													</div>
												</div>
												<div class="icon_cart">
													<div class="m_cart-group">
														<a class="cart dropdownMobile-toggle dropdown-link">
															<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
															<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
															<div class="num-items-in-cart">
																<div class="items-cart">
																	<div class="num-items-in-cart">
																		<span class="cs-icon icon-bag"></span>
																		<span class="cart_text">                                              
																		<span class="number">2</span>                        
																		</span>
																	</div>
																</div>
															</div>
														</a>
														<div class="dropdown-menu cart-info">
															<div class="cart-content">
																<div class="text-items"><span>2 item(s) in the shopping cart</span> <span class="cs-icon icon-close close-dropdown"></span> </div>
																<div class="items control-container">
																	<div class="group_cart_item">
																		<div class="cart-left"><a class="cart-image" href="./product.html"><img src="static/assets/images/800x800.png" alt="" title=""></a></div>
																		<div class="cart-right">
																			<div class="cart-title"><a href="./product.html">Extra Crispy - Small / Black / Black Bottom Cupcakes</a></div>
																			<div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
																			<div class="cart-qty">
																				<span class="quantity">Qty: 1</span>
																				<a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="./wish-list.html">
																					<span class="cs-icon icon-heart"></span>
																				</a>
																				<a class="cart-close" title="Remove" href="javascript:void(0);">
																					<span class="cs-icon icon-bin"></span>
																				</a>
																			</div>
																		</div>
																	</div>
																	<div class="group_cart_item">
																		<div class="cart-left"><a class="cart-image" href="./product.html"><img src="static/assets/images/800x800.png" alt="" title=""></a></div>
																		<div class="cart-right">
																			<div class="cart-title"><a href="./product.html">Juice Ice Tea</a></div>
																			<div class="cart-price"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></div>
																			<div class="cart-qty">
																				<span class="quantity">Qty: 2</span>
																				<a title="Add To Wishlist" class="wishlist-extra-crispy-1" href="./wish-list.html">
																					<span class="cs-icon icon-heart"></span>
																				</a>
																				<a class="cart-close" title="Remove" href="javascript:void(0);">
																					<span class="cs-icon icon-bin"></span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
																<div class="action"><button class="_btn" onclick="window.location='./cart.html'">View All Your Cart</button><button class="_btn float-right" onclick="window.location='./cart.html'">Proceed To Checkout</button></div>
															</div>
														</div>
													</div>
												</div>
												<div class="icon_accounts">
													<div class="m_login-account">
														<span class="dropdownMobile-toggle login-icon">
															<i class="icon-dropdown cs-icon icon-ellipsis" data-class="cs-icon icon-ellipsis" aria-hidden="true"></i>
															<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
															<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
														</span>
														<div class="m_dropdown-login dropdown-menu login-content">
															<div class="clearfix">
																<ul class="account-content">
																	<li class="avata-item">
																		<i class="fa fa-user" aria-hidden="true"></i>
																		<p class="user-name">Jin Alkaid</p>
																	</li>
																	<li class="link-item"><a href="./account.html"><i class="fa fa-user"></i>My Account</a></li>
																	<li class="link-item"><a href="./account.html"><i class="fa fa-shopping-cart"></i>My orders</a></li>
																	<li class="link-item"><a href="./wish-list.html"><i class="fa fa-heart"></i>My Wishlist</a></li>
																	<li class="link-item"><a href="./compare.html"><i class="fa fa-exchange"></i>My Compare</a></li>
																	<li class="link-item"><a href="./contact.html"><i class="fa fa-life-ring"></i>Support</a></li>
																	<li class="link-item"><a href="./index.html"><i class="fa fa-sign-out"></i>Logout</a></li>
																</ul>
																<ul class="currencies currencies-content">
																	<li class="currency-USD active">
																		<a href="javascript:;">USD</a>
																		<input type="hidden" value="USD">
																	</li>
																	<li class="currency-GBP">
																		<a href="javascript:;">GBP</a>
																		<input type="hidden" value="GBP">
																	</li>
																	<li class="currency-EUR">
																		<a href="javascript:;">EUR</a>
																		<input type="hidden" value="EUR">
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="navMobile-menu">
												<div class="group_navbtn">
													<a href="javascript:void(0)" class="dropdown-toggle-navigation">                  
														<span class="cs-icon icon-menu"></span>
														<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
													</a>
													<div class="navigation_dropdown_scroll dropdown-menu">
														<ul class="navigation_links_mobile">
															<li class="nav-item navigation navigation_mobile">
																<a href="./collections.html" class="menu-mobile-link">
																	Hamburger
																</a>
																<a href="javascript:void(0)" class="arrow_sub arrow">
																	<i class="arrow-plus"></i>
																</a>
																<ul class="menu-mobile-container" style="display: none;">
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Whopper</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Chicken Burger</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Beef Burger</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">DOUBLE WHOPPER</a>
																	</li>
																</ul>
															</li>
															<li class="nav-item navigation navigation_mobile">
																<a href="./collections.html" class="menu-mobile-link">
																	Pizza
																</a>
																<a href="javascript:void(0)" class="arrow_sub arrow">
																	<i class="arrow-plus"></i>
																</a>
																<ul class="menu-mobile-container" style="display: none;">
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Popular pizzas</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Meats</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Chicken</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections.html">Veggie</a>
																	</li>
																</ul>
															</li>
															<li class="nav-item">
																<a href="./collections.html">
																	Fast food
																</a>
															</li>
															<li class="nav-item">
																<a href="./collections.html">
																	Drinks
																</a>
															</li>
															<li class="nav-item">
																<a href="./super-deal.html">
																	Combo buy
																</a>
															</li>
															<li class="nav-item navigation navigation_mobile">
																<a href="./contact.html" class="menu-mobile-link">
																	Pages
																</a>
																<a href="javascript:void(0)" class="arrow_sub arrow">
																	<i class="arrow-plus"></i>
																</a>
																<ul class="menu-mobile-container" style="display: none;">
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./blog.html">Blogs</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./about-us.html">About Us</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./contact.html">Contact</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./faqs.html">FAQs</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./lookbook.html">Lookbook</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./super-deal.html">Super Deal</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./404.html">404</a>
																	</li>
																	<li class=" li-sub-mega">
																		<a tabindex="-1" href="./collections-all.html">All Collections</a>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<script>
				function addaffix(scr) {
					if ($(window).innerWidth() >= 992) {
						if (scr > 153) {
							if (!$('#top').hasClass('affix')) {
								$('#top').addClass('affix').addClass('fadeInDown animated');
							}
						} else {
							if ($('#top').hasClass('affix')) {
								$('#top').removeClass('affix').removeClass('fadeInDown animated');
							}
						}
					} else if ($(window).innerWidth() < 992 && $(window).innerWidth() > 767) {
						if (scr > 95) {
							if (!$('#top').hasClass('affix')) {
								$('#top').addClass('affix').addClass('fadeInDown animated');
							}
						} else {
							if ($('#top').hasClass('affix')) {
								$('#top').removeClass('affix').removeClass('fadeInDown animated');
							}
						}
					} else {
						if (scr > 45) {
							if (!$('#top').hasClass('affix')) {
								$('#top').addClass('affix').addClass('');
							}
						} else {
							if ($('#top').hasClass('affix')) {
								$('#top').removeClass('affix').removeClass('');
							}
						}
					}
				}
				$(window).scroll(function() {
					"use strict";
					
					var scrollTop = $(this).scrollTop();
					addaffix(scrollTop);
				});
				$(window).resize(function() {
					"use strict";
					
					var scrollTop = $(this).scrollTop();
					addaffix(scrollTop);
				});
			</script>
		</div>
	</header>
	<div class="fix-sticky"></div>
	
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">My Account</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./account.html" title="My Account" itemprop="url"><span itemprop="title">My Account</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="account-layout">
				<div class="account-wrapper">
					<div class="container">
						<div class="row">
							<div class="account-inner">
								<div class="account-content">
									<div class="account-info">
										<div class="account-details col-sm-6">
											<h3 class="details-title">ACCOUNT DETAILS</h3>
											<div class="details-content">
												<div class="details-item name">
													<span class="title">Name:</span>
													<span class="content">Jin Alkaid</span>
												</div>
												<div class="details-item">
													<span class="title">E-mail:</span>
													<a class="content" href="jin@gmail.com">jin@gmail.com</a>
												</div>
												<div class="details-item">
													<span class="title">Your address:</span>
													<address class="content">Đường trục, Ho Chi Minh, Vietnam</address>
												</div>
												<div class="details-item">
													<span class="title">Your phone:</span>
													<a class="content" href="tel:11111">11111</a>
												</div>
											</div>
										</div>
										<div class="account-link col-sm-6">
											<h3 class="link-title">My Account</h3>
											<div class="link-content">
												<ul class="link-list">
													<li class="item">
														<a href="./index.html">Logout</a>
													</li>
													<li class="item">
														<a href="./addresses.html">Modify your address book entries</a>
													</li>
													<li class="item">
														<a href="./wish-list.html">Modify your wishlist</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="account-banner col-sm-6">
											<a href=""><img src="static/assets/images/370x130.png" alt=""></a>
										</div>
										<div class="account-banner col-sm-6">
											<a href=""><img src="static/assets/images/370x130.png" alt=""></a>
										</div>
									</div>
									<div class="account-orders">
										<div class="account-orders-inner">
											<table>
												<thead>
													<tr>
														<th class="order_number">Order</th>
														<th class="date">Date</th>
														<th class="payment_status">Payment Status</th>
														<th class="fulfillment_status">Fulfillment Status</th>
														<th class="total">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr class="odd cancelled_order">
														<td class="td-name"><a href="./order.html" title="">#1002</a></td>
														<td class="td-note"><span class="note">11 Sep 06:42</span></td>
														<td class="td-authorized"><span class="status_voided">Voided</span></td>
														<td class="td-unfulfilled"><span class="status_unfulfilled">Unfulfilled</span></td>
														<td class="td-total"><span class="total"><span class="money" data-currency-usd="$6,277.80">$6,277.80</span></span>
														</td>
													</tr>
													<tr class="even ">
														<td class="td-name"><a href="./order.html" title="">#1001</a></td>
														<td class="td-note"><span class="note">24 Jul 22:32</span></td>
														<td class="td-authorized"><span class="status_authorized">Authorized</span></td>
														<td class="td-unfulfilled"><span class="status_unfulfilled">Unfulfilled</span></td>
														<td class="td-total"><span class="total"><span class="money" data-currency-usd="$294.90">$294.90</span></span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
	<!-- Footer -->
	<footer class="footer">
		<div id="shopify-section-theme-footer" class="shopify-section">
			<section class="footer-information-block clearfix" style="background-image:  url(static/assets/images/1600x437.png);">
				<div class="container">
					<div class="row">
						<div class="footer-information-inner">
							<div class="footer-information-content">
								<div class="information-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<div class="about-content">
										<div class="logo-footer">
											<img src="static/assets/images/113x118.png" alt="" />
										</div>
										<div class="about-caption">
											Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt. Black skirt razor pleats plaited gold collar. 
											<div class="clearfix" style="margin-bottom: 5px; "></div>
											Crop 90s spearmint indigo seam luxe washed out. Prada Saffiano cash mere crop sneaker chignon
										</div>
										<div class="about-contact">
											<div class="item">
												<span class="cs-icon icon-marker"></span><address>No 1104 Sky Tower, Las Vegas, USA</address>
											</div>
											<div class="item">
												<span class="cs-icon icon-phone"></span><a href="tel:(084)0123456789">(084) 0123 456 789</a>
											</div>
											<div class="item">
												<span class="cs-icon icon-mail"></span><a href="mailto:contac@yourcompany.com">contac@yourcompany.com</a>
											</div>
										</div>
									</div>
								</div>
								<div class="blog-group col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<h5 class="footer-title">Recent Post</h5>
									<div class="blog-content">
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="The art of food" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">The art of food</a>
												<span class="date">Oct 26th</span>
											</div>
										</div>
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="Sports luxe sandal center part pastel loafer leather skirt sneaker" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">Sports luxe sandal center part pastel loafer leather skirt sneaker</a>
												<span class="date">Oct 25th</span>
											</div>
										</div>
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="Hermes Givenchy skort chambray Cara D skirt cable knit" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">Hermes Givenchy skort chambray Cara D skirt cable knit</a>
												<span class="date">Oct 25th</span>
											</div>
										</div>
									</div>
								</div>
								<div class="social-payment-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<h5 class="footer-title"> Follow Us</h5>
									<div class="social-content">
										<div class="social-caption">
											<a href="https://www.facebook.com/shopify" title="Fast Food on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
											<a href="https://twitter.com/shopify" title="Fast Food on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
											<a href="https://plus.google.com/+shopify" title="Fast Food on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
											<a href="https://www.pinterest.com/shopify" title="Fast Food on Pinterest" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>
											<a href="https://instagram.com/shopify" title="Fast Food on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
											<a href="https://www.youtube.com/user/shopify" title="Fast Food on Youtube" class="icon-social youtube"><i class="fa fa-youtube"></i></a>
										</div>
									</div>
									<div class="payment-content ">
										<h5 class="footer-title">Payment Methods</h5>
										<div class="payment-caption">
											<span class="icon-cc icon-cc-discover" title="Discover"></span>
											<span class="icon-cc icon-cc-american" title="Amex"></span>
											<span class="icon-cc icon-cc-western" title="Western Union"></span>
											<span class="icon-cc icon-cc-paypal" title="PayPal"></span>
											<span class="icon-cc icon-cc-moneybookers" title="MoneyBookers"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="copy-right clearfix">
				<div class="copy-right-wrapper">
					<div class="copy-right-inner">
						<div class="footer_links">
							<ul>
								<li><a href="./index.html" title="Home">Home</a></li>
								<li><a href="./collections.html" title="Pizza">Pizza</a></li>
								<li><a href="./collections.html" title="Hamburger">Hamburger</a></li>
								<li><a href="./collections.html" title="Fast food">Fast food</a></li>
								<li><a href="./collections.html" title="Drinks">Drinks</a></li>
								<li><a href="./collections.html" title="Combo buy">Combo buy</a></li>
								<li><a href="./contact.html" title="Contact">Contact</a></li>
								<li><a href="./wish-list.html" title="Wishlist">Wishlist</a></li>
								<li><a href="./account.html" title="My account">My account</a></li>
								<li><a href="./login.html" title="Login">Login</a></li>
							</ul>
						</div>
						<div class="footer_copyright">Copyright &copy; 2017 <a href="./index.html" title="">Fast Food</a>. All Rights Reserved</div>
					</div>
				</div>
			</section>
		</div>
	</footer>
	
	<!-- Modal Search-->
	<div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" aria-hidden="true" style="display: none;">
		<div class="modal-dialog animated" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span class="cs-icon icon-close"></span>
			</button>
					<h4 class="modal-title" id="myModalLabel">Search something</h4>
				</div>
				<div class="modal-body">
					<div id="search-info">
						<form class="search" action="./search.html" style="position: relative;">
							<input type="hidden" name="type" value="product">
							<input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
							<span class="search-clear cs-icon icon-close" style="display: none;"></span>
							<button class="search-submit" type="submit">
								<span class="cs-icon icon-search"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Float right icon -->
	<div class="float-right-icon">
		<ul>
			<li>
				<div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
					<i class="fa fa-angle-up"></i>
				</div>
			</li>
		</ul>
	</div>
	

	
</body>