{% extends 'base.html' %}
{% block content %}
	
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Blogs</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./blogs.html" title="Blogs" itemprop="url"><span itemprop="title">Blogs</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="article-content">
				<div class="article-wrapper">
					<div class="container">
						<div class="row">
							<div id="shopify-section-article-template" class="shopify-section">
								<div class="article-inner" itemscope="" itemtype="http://schema.org/NewsArticle">
									<meta itemprop="datePublished" content="2017-10-26 22:43:08 -0400">
									<meta itemprop="dateModified" content="2017-10-26 22:47:00 -0400">
									<meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="/blogs/news/the-art-of-food-22">

									<div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
										<div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
											<meta itemprop="url" content="static/assets/images/900x630.png">
										</div>
										<meta itemprop="name" content="Shopify">
									</div>
									<div id="article">
										<div class="col-sm-9 article">
											<!-- Begin article -->
											<div class="article-body clearfix">
												<div class="group-blog-top">
													<div class="top-banner article_banner_show article-image" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
														<img src="static/assets/images/900x630.png" alt="">
														<meta itemprop="url" content="static/assets/images/900x630.png">
														<meta itemprop="width" content="863">
														<meta itemprop="height" content="575">
													</div>
													<div class="article-title">
														<h1 class="article-name" itemprop="headline">The art of food</h1>
													</div>
													<ul class="article-info list-inline">
														<li class="article-date"><span>Oct 26, 2017</span></li>
														<li class="article-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
															<span>By</span>
															<span itemprop="name"> Admin</span>
														</li>
														<li class="article-comment">
															<span>
																<a href="./article.html">
																	<span>0</span> Comment(s)
																</a>
															</span>
														</li>
													</ul>
												</div>
												<div class="articleinfo_group">
													<div id="article-content" itemprop="description">
														<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris elit eu nisi. Donec hendrerit magna a consectetur ullamcorper. Donec est orci, condimentum et eleifend scelerisque, ultrices eget nunc. Quisque varius egestas convallis. Quisque arcu risus, consequat sit amet vestibulum id, aliquam eu ipsum.</p>
														<ul>
															<li>Fusce mattis metus massa, ac congue augue sodales a.</li>
															<li>Sed ex metus, efficitur vitae lacinia ac.</li>
															<li>Vivamus elementum quis nunc porttitor congue.</li>
														</ul>
														<p>Vivamus elementum quis nunc porttitor congue. Proin dictum, mauris sed laoreet elementum, lorem enim tempor turpis, id suscipit dui felis ut enim. Fusce mattis metus massa, ac congue augue sodales a. Integer vel fermentum lorem. Mauris in nisi et dui faucibus suscipit in a ligula. Sed ex metus, efficitur vitae lacinia ac, facilisis suscipit magna. Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris elit eu nisi.</p>
														<p>Donec hendrerit magna a consectetur ullamcorper. Donec est orci, condimentum et eleifend scelerisque, ultrices eget nunc. Quisque varius egestas convallis. Quisque arcu risus, consequat sit amet vestibulum id, aliquam eu ipsum. Fusce mattis metus massa, ac congue augue sodales a. Sed ex metus, efficitur vitae lacinia ac. Vivamus elementum quis nunc porttitor congue. Vivamus elementum quis nunc porttitor congue.</p>
														<p>Proin dictum, mauris sed laoreet elementum, lorem enim tempor turpis, id suscipit dui felis ut enim. Fusce mattis metus massa, ac congue augue sodales a. Integer vel fermentum lorem. Mauris in nisi et dui faucibus suscipit in a ligula. Sed ex metus, efficitur vitae lacinia ac, facilisis suscipit magna.</p>
													</div>
													<div class="group-blog-btm">
														<div class="tags-area col-sm-6">
															<span class="btm-title">Tags : </span>
															<a href="./article.html" title="Show articles tagged cheesy">cheesy</a>
															<a href="./article.html" title="Show articles tagged fast food">fast food</a>
															<a href="./article.html" title="Show articles tagged hamburger">hamburger</a>
															<a href="./article.html" title="Show articles tagged kitchen">kitchen</a>
															<a href="./article.html" title="Show articles tagged topping">topping</a>
														</div>
														<div class="share-with supports-fontface col-sm-6">
															<span class="btm-title">Share: </span>
															<div class="social-blog social-sharing is-clean" data-permalink="https://cs-fastfood.myshopify.com">
																<a target="_blank" href="//www.facebook.com/sharer.php?u=https://cs-fastfood.myshopify.com" class="share-facebook">
																	<span class="fa fa-facebook"></span>
																</a>
																<a target="_blank" href="//twitter.com/share?text=&amp;url=https://cs-fastfood.myshopify.com" class="share-twitter">
																	<span class="fa fa-twitter"></span>
																</a>
																<a target="_blank" href="//pinterest.com/pin/create/button/?url=https://cs-fastfood.myshopify.com&amp;media=http://cdn.shopify.com/s/files/1/2487/3424/articles/37_1024x1024.jpg?v=1509072491&amp;description=" class="share-pinterest">
																	<span class="fa fa-pinterest"></span>
																</a>
																<a target="_blank" href="//plus.google.com/share?url=https://cs-fastfood.myshopify.com" class="share-google">
																	<!-- Cannot get Google+ share count with JS yet -->
																	<span class="fa fa-google-plus"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End article -->
											<!-- Related Posts  -->
											<div class="related-body clearfix">
												<span class="related-title">Related post</span>
												<div class="related-content">
													<div class="related-content-inner related-blog-slider">
														<div class="related-inner">
															<div class="related-group article">
																<div class="related-left">
																	<img src="static/assets/images/900x630.png" alt="">
																</div>
																<div class="related-right">
																	<div class="article-title">
																		<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
																	</div>
																	<ul class="article-info list-inline">
																		<li class="article-date"><span>Oct 26, 2017</span></li>
																		<li class="article-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
																			<span>By</span>
																			<span itemprop="name">cs-fastfood Admin</span>
																		</li>
																		<li class="article-comment">
																			<span>
																				<a href="./article.html">
																					<span>1</span> Comment
																				</a>
																			</span>
																		</li>
																	</ul>
																	<div class="article-content">
																		<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu...
																		</p>
																	</div>
																	<a class="_btn" href="./article.html">Read more</a>
																</div>
															</div>
														</div>
														<div class="related-inner">
															<div class="related-group article">
																<div class="related-left">
																	<img src="static/assets/images/900x630.png" alt="">
																</div>
																<div class="related-right">
																	<div class="article-title">
																		<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
																	</div>
																	<ul class="article-info list-inline">
																		<li class="article-date"><span>Oct 26, 2017</span></li>
																		<li class="article-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
																			<span>By</span>
																			<span itemprop="name">cs-fastfood Admin</span>
																		</li>
																		<li class="article-comment">
																			<span>
																				<a href="./article.html">
																					<span>1</span> Comment
																				</a>
																			</span>
																		</li>
																	</ul>
																	<div class="article-content">
																		<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu...
																		</p>
																	</div>
																	<a class="_btn" href="./article.html">Read more</a>
																</div>
															</div>
														</div>
														<div class="related-inner">
															<div class="related-group article">
																<div class="related-left">
																	<img src="static/assets/images/900x630.png" alt="">
																</div>
																<div class="related-right">
																	<div class="article-title">
																		<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
																	</div>
																	<ul class="article-info list-inline">
																		<li class="article-date"><span>Oct 26, 2017</span></li>
																		<li class="article-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
																			<span>By</span>
																			<span itemprop="name">cs-fastfood Admin</span>
																		</li>
																		<li class="article-comment">
																			<span>
																				<a href="./article.html">
																					<span>1</span> Comment
																				</a>
																			</span>
																		</li>
																	</ul>
																	<div class="article-content">
																		<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu...
																		</p>
																	</div>
																	<a class="_btn" href="./article.html">Read more</a>
																</div>
															</div>
														</div>
														<div class="related-inner">
															<div class="related-group article">
																<div class="related-left">
																	<img src="static/assets/images/900x630.png" alt="">
																</div>
																<div class="related-right">
																	<div class="article-title">
																		<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
																	</div>
																	<ul class="article-info list-inline">
																		<li class="article-date"><span>Oct 26, 2017</span></li>
																		<li class="article-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
																			<span>By</span>
																			<span itemprop="name">cs-fastfood Admin</span>
																		</li>
																		<li class="article-comment">
																			<span>
																				<a href="./article.html">
																					<span>1</span> Comment
																				</a>
																			</span>
																		</li>
																	</ul>
																	<div class="article-content">
																		<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu...
																		</p>
																	</div>
																	<a class="_btn" href="./article.html">Read more</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End Related Posts -->
											<!-- Begin comments -->
											<div id="comments" class="comments">
												<ul class="nav nav-tabs">
													<li class="comment-title active">
														<a href="#comment_tab_1" data-toggle="tab">
															Comments
														</a>
													</li>
													<li class="comment-title">
														<a href="#comment_tab_2" data-toggle="tab">
															Leave your comment
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active" id="comment_tab_1">
														<div class="comment border-bottom clearfix">
															<div class="cmt-author"><b>Fermentum</b></div>
															<div class="cmt-date">
																<span class="date-hour">
																		  23:34  
																		</span>
																<span class="date-day">
																		  Sunday.12 November 2017  
																		</span>
															</div>
															<div class="cmt-content">
																<p>I was prepared to order the larger mason jars but loved the design on these so much I ordered 1 set (they come in 6 for such a cheap price) just to see what else I might be able to do with them. They were already engraved with “LOVE” as opposed to the ones I was planning to order which were plain, more expensive, and didn’t come with covers. I would have to order those separately. They are truly PERFECT and come with LOVE.</p>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="comment_tab_2">
														<form method="post" action="./article.html" id="comment_form" class="comment-form" accept-charset="UTF-8">
															<h2 class="article-title"><span>Leave your comment</span></h2>
															<div class="group_form">
																<div class="col-sm-6">
																	<div class="form-item">
																		<label for="comment_author">Your Name</label>
																		<input type="text" id="comment_author" name="comment[author]" size="40" class="text">
																	</div>
																	<div class="form-item">
																		<label for="comment_email">Email Address</label>
																		<input type="text" id="comment_email" name="comment[email]" size="40" class="text">
																	</div>
																</div>
																<div class="col-sm-6">
																	<label for="comment_body">Comment</label>
																	<textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text"></textarea>
																</div>
																<div class="col-sm-12">
																	<input type="submit" value="Submit Comment" class="_btn" id="comment-submit">
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
											<!-- End comments -->
										</div>
										<div class="col-sm-3 sidebar-blog sidebar">
											<div class="sidebar-block blog-search">
												<div class="sidebar-content">
													<form class="search" action="./search.html" style="position: relative;">
														<input type="hidden" name="type" value="article">
														<input type="text" name="q" class="search_box" placeholder="Search ports here..." value="" autocomplete="off">
														<button class="search-submit" type="submit">
															<span class="cs-icon icon-search"></span>
														</button>
													</form>
													<div class="search-results" style="position: absolute; left: 0px; top: 100%; display: none;"></div>
												</div>
											</div>
											<div class="sidebar-block blog-category">
												<h3 class="sidebar-title">
													<span class="text">Category</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content">
													<ul class="category">
														<li class="nav-item">
															<a href="./blog.html">
																Ornamental Grasses
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Plant Bulbs
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Flower Seeds
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Roses
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Vegetable &amp; Herb Seeds
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Shrubs
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Succulents
															</a>	
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Vegetable Plants
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="sidebar-block blogs-recent">
												<h3 class="sidebar-title">
													<span class="text">Recent posts</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content recent-article">
													<div class="ra-item-inner">
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">The art of food</a></h5>
																<span class="date">Oct 26th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Sports luxe sandal center part pastel loafer leather skirt sneaker</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Hermes Givenchy skort chambray Cara D skirt cable knit</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Furla shoe oxford dungaree Levi pastel Prada Saffiano</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sidebar-block blog-tags clearfix">
												<h3 class="sidebar-title">
													<span class="text">Tags</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content">
													<ul class="tags-inner">
														<li class="active"><a href="./blog.html">All</a></li>
														<li><a href="./blog.html" title="Show articles tagged cheesy">cheesy</a></li>
														<li><a href="./blog.html" title="Show articles tagged fast food">fast food</a></li>
														<li><a href="./blog.html" title="Show articles tagged french fries">french fries</a></li>
														<li><a href="./blog.html" title="Show articles tagged hamburger">hamburger</a></li>
														<li><a href="./blog.html" title="Show articles tagged kitchen">kitchen</a></li>
														<li><a href="./blog.html" title="Show articles tagged pizza">pizza</a></li>
														<li><a href="./blog.html" title="Show articles tagged topping">topping</a></li>
													</ul>
												</div>
											</div>
											<div class="sidebar-block blog-banner">
												<div class="sidebar-content">
													<a href="./blog.html"><img src="static/assets/images/270x370.png" alt=""></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}