{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="/"/>
    <meta name="theme-color" content="#7796A8">
    <meta name="description" content=""/>
    <title>
        Cafetering
    </title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="/static/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css" media="all">
    <link href="/static/assets/stylesheets/fonts.googleapis.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/icon-font.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/social-buttons.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/cs.styles.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/font-icon.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/spr.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/slideshow-fade.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/cs.animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/themepunch.revolution.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/assets/stylesheets/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="/static/assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/classie.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/application-appear.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/cs.script.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.currencies.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.zoom.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/linkOptionSelectors.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/scripts.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/social-buttons.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/static/assets/javascripts/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/moment.js"></script>
    <script type="text/javascript" src="/static/bootstrap-datetimepicker.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    {% load static %}
    <script src="{% static 'base.js' %}"></script>

    {% load static %}
    <script src="{% static 'jquery-3.2.1.js' %}"></script>

    {% load static %}
    <script src="{% static 'jquery-ui.min.js' %}"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}"/>

    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}"/>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            -webkit-animation-name: fadeIn; /* Fade in the background */
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s
        }

        /* Modal Content */
        .modal-content {
            position: fixed;
            bottom: 0;
            background-color: #fefefe;
            width: 100%;
            -webkit-animation-name: slideIn;
            -webkit-animation-duration: 0.4s;
            animation-name: slideIn;
            animation-duration: 0.4s
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        /* Add Animation */
        @-webkit-keyframes slideIn {
            from {
                bottom: -300px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }

        @keyframes slideIn {
            from {
                bottom: -300px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0
            }
            to {
                opacity: 1
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0
            }
            to {
                opacity: 1
            }
        }
    </style>

</head>
<body class="fastfood_1">
<div>
    <!--Header-->
    <header id="top" class="header clearfix">
        <div id="shopify-section-theme-header" class="shopify-section">
            <div data-section-id="theme-header" data-section-type="header-section">
                <section class="main-header">
                    <div class="main-header-wrapper">
                        <div class="container clearfix">
                            <div class="row">
                                <div class="main-header-inner">
                                    <div class="nav-logo">
                                        <a href="/index"><img src="/static/assets/images/170x177.png" alt=""
                                                              title="Mi cuenta"/></a>
                                        <h1 style="display:none"><a href="/">Mi cuenta</a></h1>
                                    </div>
                                    <div class="nav-top">
                                        <div class="nav-menu">
                                            <ul class="navigation-links ">
                                                <li class="nav-item dropdown navigation">
                                                    <a href="/productos" class="dropdown-toggle dropdown-link"
                                                       data-toggle="dropdown">
                                                        <span>Productos</span>
                                                        <i class="fa fa-angle-down"></i>
                                                        <i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="/productos">Todos los productos</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="/categorias">Categorías</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="/ofertas">Ofertas</a>
                                                        </li>
                                                        <li class="li-sub-mega">
                                                            <a tabindex="-1" href="/menus">Menus</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/pedidos">
                                                        <span>Pedidos</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/cuenta">
                                                        <span>Mi cuenta</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/informes">
                                                        <span>Informes</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/ayuda">
                                                        <span>Ayuda</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'logout_view' %}">
                                                        <span>Log out</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nav-icon">
                                            <div class="m_search search-icon">
                                                <a href="/buscar" data-toggle="modal">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navMobile-navigation">
                                        <div class="navMobile-logo">
                                            <a href="/index"><img class="header-logo-image"
                                                                  src="/static/assets/images/170x177.png" alt=""
                                                                  title="Mi cuenta"/></a>
                                        </div>
                                        <div class="group_mobile_right">
                                            <div class="nav-icon">
                                                <div class="m_search search-tablet-icon">
                                                        <span class="dropdownMobile-toggle search-dropdown">
                                                            <span class="icon-dropdown cs-icon icon-search"
                                                                  data-class="cs-icon icon-search"></span>
                                                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                        </span>
                                                    <div class="m_dropdown-search dropdown-menu search-content">
                                                        <form class="search" action="/search.html">
                                                            <input type="hidden" name="type" value="product"/>
                                                            <input type="text" name="q" class="search_box"
                                                                   placeholder="search our store" value=""/>
                                                            <span class="search-clear cs-icon icon-close"></span>
                                                            <button class="search-submit" type="submit">
                                                                <span class="cs-icon icon-search"></span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div
                                            </div>
                                            <div class="navMobile-menu">
                                                <div class="group_navbtn">
                                                    <a href="javascript:void(0)" class="dropdown-toggle-navigation">
                                                        <span class="cs-icon icon-menu"></span>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <div class="navigation_dropdown_scroll dropdown-menu">
                                                        <ul class="navigation_links_mobile">
                                                            <li class="nav-item navigation navigation_mobile">
                                                                <a href="/pedidos" class="menu-mobile-link">
                                                                    Productos
                                                                </a>
                                                                <a href="javascript:void(0)" class="arrow_sub arrow">
                                                                    <i class="arrow-plus"></i>
                                                                </a>
                                                                <ul class="menu-mobile-container"
                                                                    style="display: none;">
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="/productos">Todos los
                                                                            productos</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1"
                                                                           href="/categorias">Categorías</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="/ofertas">Ofertas</a>
                                                                    </li>
                                                                    <li class=" li-sub-mega">
                                                                        <a tabindex="-1" href="/menus">Menus</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="/pedidos">
                                                                    Pedidos
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="/cuenta">
                                                                    Mi cuenta
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="/informes">
                                                                    Informes
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="/ayuda">
                                                                    Ayuda
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                function addaffix(scr) {
                    if ($(window).innerWidth() >= 992) {
                        if (scr > 153) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else if ($(window).innerWidth() < 992 && $(window).innerWidth() > 767) {
                        if (scr > 95) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else {
                        if (scr > 45) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('');
                            }
                        }
                    }
                }
                $(window).scroll(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
                $(window).resize(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
            </script>
        </div>
    </header>
    <div class="fix-sticky"></div>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div id="shopify-section-theme-footer" class="shopify-section">

            <section class="copy-right clearfix">
                <div class="copy-right-wrapper">
                    <div class="copy-right-inner">
                        <div class="footer_links">
                            <ul>
                                <li><a href="/pedidos" title="Pedidos">Pedidos</a></li>
                                <li><a href="/productos" title="Productos">Productos</a></li>
                                <li><a href="/cuenta" title="Mi cuenta">Mi cuenta</a></li>
                                <li><a href="/informes" title="Informes">Informes</a></li>
                                <li><a href="/ayuda" title="Ayuda">Ayuda</a></li>
                            </ul>
                        </div>
                        <div class="footer_copyright">Copyright &copy; 2018 <a href="/index" title="">Cafetering</a>.
                            Todos los derechos reservados
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>

	<!-- Modal Search-->
	<div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" aria-hidden="true" style="display: none;">
		<div class="modal-dialog animated" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span class="cs-icon icon-close"></span>
			</button>
					<h4 class="modal-title" id="myModalLabel">Search something</h4>
				</div>
				<div class="modal-body">
					<div id="search-info">
						<form class="search" action="./search.html" style="position: relative;">
							<input type="hidden" name="type" value="product">
							<input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
							<span class="search-clear cs-icon icon-close" style="display: none;"></span>
							<button class="search-submit" type="submit">
								<span class="cs-icon icon-search"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


    <!-- Float right icon -->
    <div class="float-right-icon">
        <ul>
            <li>
                <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
                    <i class="fa fa-angle-up"></i>
                </div>
            </li>
        </ul>
    </div>


</div>
</body>
</html>