{% extends 'base.html' %}
{% block content %}

<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Blogs</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./blogs.html" title="Blogs" itemprop="url"><span itemprop="title">Blogs</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="blog-content">
				<div class="blog-wrapper">
					<div class="container">
						<div class="row">
							<div id="shopify-section-blog-template" class="shopify-section">
								<div class="blog-inner">
									<div id="blog">
										<div class="col-sm-9 articles">
											<div class="articles-group">
												<div class="articles-group-inner">
													<div class="article clearfix article-big">
														<div class="group-blog-top">
															<div class="top-banner article_banner_show article-image">
																<a href="./article.html">
																	<img src="static/assets/images/900x630.png" alt="">
																</a>
															</div>

															<div class="article-title">
																<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
															</div>
															<ul class="article-info list-inline">
																<li class="article-date">Oct 26, 2017</li>
																<li class="article-author">
																	<span>By</span> Admin
																</li>
																<li class="article-comment">
																	<span>
																		<a href="./article.html">
																			<span>0</span> Comment(s)
																		</a>
																	</span>
																</li>
															</ul>
														</div>
														<div class="articleinfo_group">
															<div class="article-content">
																<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris elit eu nisi. Donec hendrerit magna a consectetur ullamcorper. Donec est orci, condimentum et eleifend scelerisque, ultrices eget nunc. Quisque varius egestas convallis. Quisque arcu...
																</p>
															</div>
															<a class="_btn" href="./article.html">Read more</a>
														</div>
													</div>
													<div class="article clearfix article-small">
														<div class="group-blog-top">
															<div class="top-banner article_banner_show article-image">
																<a href="./article.html">
																	<img src="static/assets/images/900x630.png" alt="">
																</a>
															</div>

															<div class="article-title">
																<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
															</div>
															<ul class="article-info list-inline">
																<li class="article-date">Oct 26, 2017</li>
																<li class="article-author">
																	<span>By</span> Admin
																</li>
																<li class="article-comment">
																	<span>
																		<a href="./article.html">
																			<span>0</span> Comment(s)
																		</a>
																	</span>
																</li>
															</ul>
														</div>
														<div class="articleinfo_group">
															<div class="article-content">
																<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris...
																</p>
															</div>
															<a class="_btn" href="./article.html">Read more</a>
														</div>
													</div>
													<div class="article clearfix article-small">
														<div class="group-blog-top">
															<div class="top-banner article_banner_show article-image">
																<a href="./article.html">
																	<img src="static/assets/images/900x630.png" alt="">
																</a>
															</div>
															<div class="article-title">
																<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
															</div>
															<ul class="article-info list-inline">
																<li class="article-date">Oct 26, 2017</li>
																<li class="article-author">
																	<span>By</span> Admin
																</li>
																<li class="article-comment">
																	<span>
																	<a href="./article.html">
																		<span>0</span> Comment(s)
																	</a>
																	</span>
																</li>
															</ul>
														</div>
														<div class="articleinfo_group">
															<div class="article-content">
																<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris...
																</p>
															</div>
															<a class="_btn" href="./article.html">Read more</a>
														</div>
													</div>
													<div class="article clearfix article-small">
														<div class="group-blog-top">
															<div class="top-banner article_banner_show article-image">
																<a href="./article.html">
																	<img src="static/assets/images/900x630.png" alt="">
																</a>
															</div>

															<div class="article-title">
																<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
															</div>
															<ul class="article-info list-inline">
																<li class="article-date">Oct 26, 2017</li>
																<li class="article-author">
																	<span>By</span> Admin
																</li>
																<li class="article-comment">
																	<span>
																	<a href="./article.html">
																		<span>1</span> Comment
																	</a>
																	</span>
																</li>
															</ul>
														</div>
														<div class="articleinfo_group">
															<div class="article-content">
																<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris...
																</p>
															</div>
															<a class="_btn" href="./article.html">Read more</a>
														</div>
													</div>
													<div class="article clearfix article-small">
														<div class="group-blog-top">
															<div class="top-banner article_banner_show article-image">
																<a href="./article.html">
																	<img src="static/assets/images/900x630.png" alt="">
																</a>
															</div>
															<div class="article-title">
																<h2 class="article-name"><a href="./article.html">The art of food</a></h2>
															</div>
															<ul class="article-info list-inline">
																<li class="article-date">Oct 26, 2017</li>
																<li class="article-author">
																	<span>By</span> Admin
																</li>
																<li class="article-comment">
																	<span>
																	<a href="./article.html">
																		<span>0</span> Comment(s)
																	</a>
																	</span>
																</li>
															</ul>
														</div>
														<div class="articleinfo_group">
															<div class="article-content">
																<p>Pellentesque dolor augue, euismod vel orci in, congue sodales nunc. Duis sed auctor dolor, ac facilisis mi. Duis malesuada, arcu ut ultricies pretium, nulla tortor egestas nisl, feugiat dictum mauris...
																</p>
															</div>
															<a class="_btn" href="./article.html">Read more</a>
														</div>
													</div>
												</div>
											</div>
											<div class="pagination_group">
												<ul class="pagination ">
													<li class="prev"><a class="disabled" href="./blog.html">Prev</a></li>
													<li class="active"><a href="./blog.html">1</a></li>
													<li><a href="./blog.html">2</a></li>
													<li><a href="./blog.html">3</a></li>
													<li class="next"><a href="./blog.html">Next</a></li>
												</ul>
											</div>
										</div>
										<div class="col-sm-3 sidebar-blog sidebar">
											<div class="sidebar-block blog-search">
												<div class="sidebar-content">
													<form class="search" action="./search.html" style="position: relative;">
														<input type="hidden" name="type" value="article">
														<input type="text" name="q" class="search_box" placeholder="Search ports here..." value="" autocomplete="off">
														<button class="search-submit" type="submit">
															<span class="cs-icon icon-search"></span>
														</button>
													</form>
													<div class="search-results" style="position: absolute; left: 0px; top: 100%; display: none;"></div>
												</div>
											</div>
											<div class="sidebar-block blog-category">
												<h3 class="sidebar-title">
													<span class="text">Category</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content">
													<ul class="category">
														<li class="nav-item">
															<a href="./blog.html">
																Ornamental Grasses
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Plant Bulbs
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Flower Seeds
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Roses
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Vegetable &amp; Herb Seeds
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Shrubs
															</a>
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Succulents
															</a>	
														</li>
														<li class="nav-item">
															<a href="./blog.html">
																Vegetable Plants
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="sidebar-block blogs-recent">
												<h3 class="sidebar-title">
													<span class="text">Recent posts</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content recent-article">
													<div class="ra-item-inner">
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">The art of food</a></h5>
																<span class="date">Oct 26th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Sports luxe sandal center part pastel loafer leather skirt sneaker</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Hermes Givenchy skort chambray Cara D skirt cable knit</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
														<div class="ra-item">
															<div class="article-left">
																<img src="static/assets/images/900x630.png" alt="">
															</div>
															<div class="article-right">
																<h5><a href="./article.html">Furla shoe oxford dungaree Levi pastel Prada Saffiano</a></h5>
																<span class="date">Oct 25th</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sidebar-block blog-tags clearfix">
												<h3 class="sidebar-title">
													<span class="text">Tags</span>
													<span class="cs-icon icon-minus"></span>
												</h3>
												<div class="sidebar-content">
													<ul class="tags-inner">
														<li class="active"><a href="./blog.html">All</a></li>
														<li><a href="./blog.html" title="Show articles tagged cheesy">cheesy</a></li>
														<li><a href="./blog.html" title="Show articles tagged fast food">fast food</a></li>
														<li><a href="./blog.html" title="Show articles tagged french fries">french fries</a></li>
														<li><a href="./blog.html" title="Show articles tagged hamburger">hamburger</a></li>
														<li><a href="./blog.html" title="Show articles tagged kitchen">kitchen</a></li>
														<li><a href="./blog.html" title="Show articles tagged pizza">pizza</a></li>
														<li><a href="./blog.html" title="Show articles tagged topping">topping</a></li>
													</ul>
												</div>
											</div>
											<div class="sidebar-block blog-banner">
												<div class="sidebar-content">
													<a href="./blog.html"><img src="static/assets/images/270x370.png" alt=""></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}