{% extends 'base.html' %}
{% load main_tags %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Buscar</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index" title="Buscar" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./buscar" title="Search Page" itemprop="url"><span itemprop="title">Buscar</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="search-content">
				<div class="search-content-wrapper">
					<div class="container">
						<div class="row">
							<div class="search-content-group">
								<div class="search-content-inner">
									<div id="search">
										<div class="expanded-message">
											<div class="search-field">
												<form method="post" class="search" style="position: relative;">{% csrf_token %}
													<input type="hidden" name="type" value="product">
													<button class="search-submit" type="submit">
														<span class="cs-icon icon-search"></span>
													</button>
													<input type="text" name="search_term_form" class="search_box" placeholder="Introduzca su busqueda" value="{{ search_term }}" autocomplete="off">
												</form>
											</div>
										</div>
                                        {% if result_list %}
                                            <!-- Begin results -->
                                            <div class="product-item-group clearfix">
                                                <div class="product-item-inner">
                                                    {% for objeto in result_list %}
                                                        {% with objeto|classname as modelclass %}
                                                            {% if modelclass == "Pedido" %}
                                                                <div class="product-item-wrapper col-sm-3">
                                                                    <div class="row-container product list-unstyled clearfix product-circle">
                                                                        <div class="row-left">
                                                                            <a href="./ver-{{ modelclass }}/{{ objeto.id }}" class="hoverBorder container_item">
                                                                                <div class="hoverBorderWrapper">
                                                                                    <img src="static/images/pedido_icono.jpg" class="img-responsive front" alt="Pedido">
                                                                                    <div class="mask"></div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="row-right animMix">
                                                                            <div class="product-title"><a class="title-5" href="./ver-{{ modelclass }}/{{ objeto.id }}">{{ modelclass }} #{{ objeto.id }}</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="product-item-wrapper col-sm-3">
                                                                    <div class="row-container product list-unstyled clearfix product-circle">
                                                                        <div class="row-left">
                                                                            <a href="./ver-{{ modelclass }}/{{ objeto.id }}" class="hoverBorder container_item">
                                                                                <div class="hoverBorderWrapper">
                                                                                    {% if objeto.imagen %}
                                                                                        <img src="{{ objeto.imagen.url }}" class="img-responsive front" alt="">
                                                                                    {% else %}
                                                                                        <img src="static/images/no_image_available.png" class="img-responsive front" alt="">
                                                                                    {% endif %}
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="row-right animMix">
                                                                            <div class="product-title"><a class="title-5" href="./ver-{{ modelclass }}/{{ objeto.id }}">{{ modelclass }} #{{ objeto.id }}</a></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- End results -->
                                            <div class="search-bottom-toolbar">
                                                <div class="search-pagination col-sm-6">

                                                </div>
                                            </div>
                                        {% endif%}
									</div>
									<!-- /#search -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}