{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">List Collection</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./collections-all.html" title="List Collection" itemprop="url"><span itemprop="title">List Collection</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="list-collection-content">
				<div class="list-collections-wrapper">
					<div class="container">
						<div class="row">
							<div class="products-wrapper">
								<div class="products-wrapper-inner">
									<div class="products masonry">
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="Drinks">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">Drinks</h4>
														<span class="price">7  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="Fast food">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">Fast food</h4>
														<span class="price">6  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="French Fries">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">French Fries</h4>
														<span class="price">7  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="Hamburger">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">Hamburger</h4>
														<span class="price">5  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="Pizza">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">Pizza</h4>
														<span class="price">4  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="static/assets/images/380x200.png" alt="Tasty Flyers">
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<div class="col-info-group">
														<h4 class="title">Tasty Flyers</h4>
														<span class="price">8  products</span>
														<div class="hover_button">
															<a href="./collections.html">
																View More
															</a>
														</div>
													</div>
												</div>
												<!-- End product description -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
	<!-- Footer -->
	<footer class="footer">
		<div id="shopify-section-theme-footer" class="shopify-section">
			<section class="footer-information-block clearfix" style="background-image:  url(static/assets/images/1600x437.png);">
				<div class="container">
					<div class="row">
						<div class="footer-information-inner">
							<div class="footer-information-content">
								<div class="information-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<div class="about-content">
										<div class="logo-footer">
											<img src="static/assets/images/113x118.png" alt="" />
										</div>
										<div class="about-caption">
											Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt. Black skirt razor pleats plaited gold collar. 
											<div class="clearfix" style="margin-bottom: 5px; "></div>
											Crop 90s spearmint indigo seam luxe washed out. Prada Saffiano cash mere crop sneaker chignon
										</div>
										<div class="about-contact">
											<div class="item">
												<span class="cs-icon icon-marker"></span><address>No 1104 Sky Tower, Las Vegas, USA</address>
											</div>
											<div class="item">
												<span class="cs-icon icon-phone"></span><a href="tel:(084)0123456789">(084) 0123 456 789</a>
											</div>
											<div class="item">
												<span class="cs-icon icon-mail"></span><a href="mailto:contac@yourcompany.com">contac@yourcompany.com</a>
											</div>
										</div>
									</div>
								</div>
								<div class="blog-group col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<h5 class="footer-title">Recent Post</h5>
									<div class="blog-content">
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="The art of food" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">The art of food</a>
												<span class="date">Oct 26th</span>
											</div>
										</div>
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="Sports luxe sandal center part pastel loafer leather skirt sneaker" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">Sports luxe sandal center part pastel loafer leather skirt sneaker</a>
												<span class="date">Oct 25th</span>
											</div>
										</div>
										<div class="blogs-item">
											<div class="blogs-left">
												<a class="blogs-img" href="./article.html">
													<img src="static/assets/images/900x630.png" alt="Hermes Givenchy skort chambray Cara D skirt cable knit" />
												</a>
											</div>
											<div class="blogs-right">
												<a href="./article.html" class="blogs-title clearfix">Hermes Givenchy skort chambray Cara D skirt cable knit</a>
												<span class="date">Oct 25th</span>
											</div>
										</div>
									</div>
								</div>
								<div class="social-payment-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
									<h5 class="footer-title"> Follow Us</h5>
									<div class="social-content">
										<div class="social-caption">
											<a href="https://www.facebook.com/shopify" title="Fast Food on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
											<a href="https://twitter.com/shopify" title="Fast Food on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
											<a href="https://plus.google.com/+shopify" title="Fast Food on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
											<a href="https://www.pinterest.com/shopify" title="Fast Food on Pinterest" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>
											<a href="https://instagram.com/shopify" title="Fast Food on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
											<a href="https://www.youtube.com/user/shopify" title="Fast Food on Youtube" class="icon-social youtube"><i class="fa fa-youtube"></i></a>
										</div>
									</div>
									<div class="payment-content ">
										<h5 class="footer-title">Payment Methods</h5>
										<div class="payment-caption">
											<span class="icon-cc icon-cc-discover" title="Discover"></span>
											<span class="icon-cc icon-cc-american" title="Amex"></span>
											<span class="icon-cc icon-cc-western" title="Western Union"></span>
											<span class="icon-cc icon-cc-paypal" title="PayPal"></span>
											<span class="icon-cc icon-cc-moneybookers" title="MoneyBookers"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="copy-right clearfix">
				<div class="copy-right-wrapper">
					<div class="copy-right-inner">
						<div class="footer_links">
							<ul>
								<li><a href="./index.html" title="Home">Home</a></li>
								<li><a href="./collections.html" title="Pizza">Pizza</a></li>
								<li><a href="./collections.html" title="Hamburger">Hamburger</a></li>
								<li><a href="./collections.html" title="Fast food">Fast food</a></li>
								<li><a href="./collections.html" title="Drinks">Drinks</a></li>
								<li><a href="./collections.html" title="Combo buy">Combo buy</a></li>
								<li><a href="./contact.html" title="Contact">Contact</a></li>
								<li><a href="./wish-list.html" title="Wishlist">Wishlist</a></li>
								<li><a href="./account.html" title="My account">My account</a></li>
								<li><a href="./login.html" title="Login">Login</a></li>
							</ul>
						</div>
						<div class="footer_copyright">Copyright &copy; 2017 <a href="./index.html" title="">Fast Food</a>. All Rights Reserved</div>
					</div>
				</div>
			</section>
		</div>
	</footer>
	
	<!-- Modal Search-->
	<div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" aria-hidden="true" style="display: none;">
		<div class="modal-dialog animated" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span class="cs-icon icon-close"></span>
			</button>
					<h4 class="modal-title" id="myModalLabel">Search something</h4>
				</div>
				<div class="modal-body">
					<div id="search-info">
						<form class="search" action="./search.html" style="position: relative;">
							<input type="hidden" name="type" value="product">
							<input type="text" name="q" class="search_box" placeholder="search our store" value="" autocomplete="off">
							<span class="search-clear cs-icon icon-close" style="display: none;"></span>
							<button class="search-submit" type="submit">
								<span class="cs-icon icon-search"></span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Float right icon -->
	<div class="float-right-icon">
		<ul>
			<li>
				<div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
					<i class="fa fa-angle-up"></i>
				</div>
			</li>
		</ul>
	</div>
	
{% endblock content %}