{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Compare</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./compare.html" title="Compare" itemprop="url"><span itemprop="title">Compare</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content compare-page">
				<div class="page-content-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-content-inner">
								<div class="main-content">
									<div id="comparecontent">
										<span class="compare-count">3 Saved products</span>
										<ul>
											<li class="compare-heading">
												<div class="compare-remove">
													<div class="title">Remove</div>
												</div>
												<div class="compare-image">
													<div class="title">Image</div>
												</div>
												<div class="compare-name">
													<div class="title">Name</div>
												</div>
												<div class="compare-price">
													<div class="title">Price</div>
												</div>
												<div class="compare-addCart">
													<div class="title">Add to cart</div>
												</div>
											</li>
											<li class="compare compare-juice-ice-tea-1">
												<div class="compare-remove"><span class="cs-icon icon-close"></span></div>
												<div class="compare-image"><img src="static/assets/images/800x800.png" alt=""></div>
												<div class="compare-name"><a href="./product.html">Juice Ice Tea</a></div>
												<div class="compare-price"><span class="price"><span class="money">$20.00</span></span>
												</div>
												<div class="compare-addCart">
													<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
														<div class="quantity-content"><label>QTY</label>
														<input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
														<div class="others-bottom"><a href="./cart.html" class="_btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a>
															<div class="compare-remove" data-comparehandle="juice-ice-tea-1"><span class="lnr lnr-trash"></span></div>
														</div>
													</form>
												</div>
											</li>
											<li class="compare compare-juice-ice-tea-1">
												<div class="compare-remove"><span class="cs-icon icon-close"></span></div>
												<div class="compare-image"><img src="static/assets/images/800x800.png" alt=""></div>
												<div class="compare-name"><a href="./product.html">Extra Crispy</a></div>
												<div class="compare-price"><span class="price"><span class="money">$20.00</span></span>
												</div>
												<div class="compare-addCart">
													<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
														<div class="quantity-content"><label>QTY</label>
														<input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
														<div class="others-bottom"><a href="./cart.html" class="_btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a>
															<div class="compare-remove" data-comparehandle="juice-ice-tea-1"><span class="lnr lnr-trash"></span></div>
														</div>
													</form>
												</div>
											</li>
											<li class="compare compare-juice-ice-tea-1">
												<div class="compare-remove"><span class="cs-icon icon-close"></span></div>
												<div class="compare-image"><img src="static/assets/images/800x800.png" alt=""></div>
												<div class="compare-name"><a href="./product.html">Juice Ice Tea</a></div>
												<div class="compare-price"><span class="price"><span class="money">$20.00</span></span>
												</div>
												<div class="compare-addCart">
													<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
														<div class="quantity-content"><label>QTY</label>
														<input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
														<div class="others-bottom"><a href="./cart.html" class="_btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a>
															<div class="compare-remove" data-comparehandle="juice-ice-tea-1"><span class="lnr lnr-trash"></span></div>
														</div>
													</form>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}