{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Contact</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./contact.html" title="Contact" itemprop="url"><span itemprop="title">Contact</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-contact-template" class="shopify-section">
									<div class="contact-content">

										<div class="google-maps-content ">
											<div class="google-maps-wrapper">
												<div class="page_title">
													<h2 class="title">
														<span class="first">Contact</span>
														<span class="last"> Us</span>
													</h2>
													<p class="caption">Nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus.</p>
												</div>
												<div class="google-maps-inner">
													<div id="contact_map" class="m_map">
													</div>
												</div>
											</div>
										</div>
										<div class="information_layout">
											<div class="information_inner">
												<div class="information_content">
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Hours</h2>
														</div>
														<div class="text_content">
															<ul>
																<li>
																	<div class="group_text">
																		<span class="day">Mon – Thur</span>
																		<span class="time">6AM - 7PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Friday</span>
																		<span class="time">6AM - 9PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Saturday</span>
																		<span class="time">6AM - 9PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Sunday</span>
																		<span class="time">7AM - 7PM</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Contact info</h2>
														</div>
														<div class="text_content">
															<div class="group_contact_info">
																<div class="item">
																	<span>
																		<i class="fa fa-home"></i><address>123 Mission St. San Francisco</address>
																	</span>
																</div>
																<div class="item phone-fax">
																	<span>
																		<i class="fa fa-phone"></i><a href="tel:(084)0123456789">(084) 0123 456 789</a>
																	</span>
																	<span>
																		<i class="fa fa-fax"></i><a href="fax:(084)0123456789">(084) 0123 456 789</a>
																	</span>
																</div>
																<div class="item">
																	<span>
																		<i class="fa fa-envelope-o"></i><a href="mailto:info@adart.vn">info@adart.vn</a>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title form_title">
															<h2 class="title">Write us a message</h2>
														</div>
														<div class="form_content">
															<form method="post" action="./contact.html" id="contact_form" class="contact-form" accept-charset="UTF-8">
																<div id="contactFormWrapper" class="group_form">
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="text" id="contactFormName" name="contact[name]" placeholder="Username">
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email">
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Your message"></textarea>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<input type="submit" id="contactFormSubmit" value="Send" class="_btn">
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<script>
										$(window).ready(function($) {

											if (jQuery().gMap) {
												if ($('#contact_map').length) {
													$('#contact_map').gMap({
														zoom: 17,
														scrollwheel: false,
														maptype: 'ROADMAP',
														markers: [{
															address: '474 Ontario St Toronto, ON M4X 1M7 Canada',
															html: '_address'
														}]
													});
												}
											}
										});
									</script>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}