{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Ayuda</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index" title="Ayuda" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./ayuda" title="Ayuda" itemprop="url"><span itemprop="title">Ayuda</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-contact-template" class="shopify-section">
									<div class="contact-content">

										<div class="google-maps-content ">
											<div class="google-maps-wrapper">
												<div class="page_title">
													<h2 class="title">
														<span class="first">Estamos para</span>
														<span class="last"> Ayudarte</span>
													</h2>
													<p class="caption">Le responderemos lo antes posible.</p>
												</div>
											</div>
										</div>
										<div class="information_layout">
											<div class="information_inner">
												<div class="information_content">
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Horario</h2>
														</div>
														<div class="text_content">
															<ul>
																<li>
																	<div class="group_text">
																		<span class="day">Lunes – Martes</span>
																		<span class="time">6AM - 7PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Viernes</span>
																		<span class="time">6AM - 9PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Sábado</span>
																		<span class="time">6AM - 9PM</span>
																	</div>
																</li>
																<li>
																	<div class="group_text">
																		<span class="day">Domingo</span>
																		<span class="time">7AM - 7PM</span>
																	</div>
																</li>
															</ul>
														</div>
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title text_title">
															<h2 class="title">Información de contacto</h2>
														</div>
														<div class="text_content">
															<div class="group_contact_info">
																<div class="item">
																	<span>
																		<i class="fa fa-home"></i><address>C/ Ollerías 33, Málaga, España</address>
																	</span>
																</div>
																<div class="item phone-fax">
																	<span>
																		<i class="fa fa-phone"></i><a href="tel:(034)666777888">666 777 888</a>
																	</span>
{#																	<span>#}
{#																		<i class="fa fa-fax"></i><a href="fax:(084)0123456789">(084) 0123 456 789</a>#}
{#																	</span>#}
																</div>
																<div class="item">
																	<span>
																		<i class="fa fa-envelope-o"></i><a href="mailto:info@cafetering.es">info@cafetering.es</a>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="information_item col-sm-4">
														<div class="page_title form_title">
															<h2 class="title">Escribenos</h2>
														</div>
														<div class="form_content">
                                                            {% if not enviado %}
															    <form method="post" id="contact_form" class="contact-form" accept-charset="UTF-8"> {% csrf_token %}
																<div id="contactFormWrapper" class="group_form">
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="text" id="contactFormName" name="contact[name]" placeholder="Asunto">
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-item">
																			<input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email">
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Escribe su mensaje"></textarea>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-item">
																			<input type="submit" id="contactFormSubmit" value="Send" class="_btn">
																		</div>
																	</div>
																</div>
															</form>
														    {% else %}
                                                                <h4>Muchas gracias por su email</h4>
                                                            {% endif %}
                                                        </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<script>
										$(window).ready(function($) {

											if (jQuery().gMap) {
												if ($('#contact_map').length) {
													$('#contact_map').gMap({
														zoom: 17,
														scrollwheel: false,
														maptype: 'ROADMAP',
														markers: [{
															address: '474 Ontario St Toronto, ON M4X 1M7 Canada',
															html: '_address'
														}]
													});
												}
											}
										});
									</script>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}