{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">Editar pedido</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index" title="Editar pedido" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a title="Editar pedido" itemprop="url"><span
                                                    itemprop="title">Editar pedido</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="order-layout">
                <div class="order-wrapper">
                    <form method="post">{% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="order-inner">
                                    <div class="order-content">
                                        <div class="order-id">
                                            <h2>Pedido #{{ pedido.id }}</h2>
                                            <span class="date">{{ pedido.fecha_creacion }}</span>
                                        </div>

                                        <div id="content1">
                                            <button type="button" onclick="marcarComoRecogido()" class="btn btn-default"
                                                    style="margin:auto; display:block;">Marcar como recogido
                                            </button>
                                        </div>

                                        <div id="content2">
                                            <button type="button" class="btn btn-default"
                                                    style="margin:auto; display:block;"
                                                    onclick="location.href='/eliminar-pedido/{{ pedido.id }}'">Eliminar
                                                pedido
                                            </button>
                                        </div>

                                        <div class="order-address">
                                            <div id="order_payment" class="col-md-6 address-items">
                                                <h2 class="address-title">QR CODE</h2>
                                                <div class="address-content">
                                                    <img src="{{ pedido.qr.url }}">
                                                    <div class="address-item">
                                                        <span class="title">Confirmación</span>
                                                        <span class="content">{{ pedido.codigo_confirmacion }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="order_shipping" class="col-md-6 address-items">
                                                <h2 class="address-title">Datos del pedido</h2>
                                                <div class="address-content">
                                                    <div class="address-item name">
                                                        <span class="title">Estado</span>

                                                        <span class="content">
                                                              <select name="estado" class="form-control" id="estado_pedido">
                                                                {% for estado in estados %}
                                                                    {% if pedido.get_estado_display == estado %}
                                                                        <option selected>{{ estado }}</option>
                                                                    {% else %}
                                                                        <option>{{ estado }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                              </select>
                                                        </span>
                                                    </div>
                                                    <div class="address-item name">
                                                        <span class="title">Recogida estimada</span>
                                                        <span class="content">
                                                        <div class="container">
                                                        <div class="row">
                                                            <div class='col-sm-2'>
                                                                <div class="">
                                                                    <div class='input-group date' id='datetimepicker1'>
                                                                        <input type='datetime-local' name="recogida_estimada"
                                                                               value="{{ pedido.recogida_estimada|date:'Y-m-d\TH:i' }}"
                                                                               class="form-control" style="width: 86%"/>
{#                                                                        <span class="input-group-addon">#}
{#                                                                            <span class="glyphicon glyphicon-calendar"></span>#}
{#                                                                        </span>#}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        </span>
                                                    </div>

                                                    <div class="address-item name">
                                                        <span class="title">Recogida</span>
                                                        {% if pedido.fecha_recogida %}
                                                            <span class="content">{{ pedido.fecha_recogida|date:'D, d N H:i:s' }}</span>
                                                        {% else %}
                                                            <span class="content">No recogido</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="address-item">
                                                        <span class="title">Alumno/s</span>
                                                        <span class="content">
                                                        {% for alumno in alumnos %}
                                                            #{{ alumno.id }} {{ alumno.user.get_full_name }}
                                                            <br>
                                                        {% endfor %}
                                                        </span>
                                                    </div>
                                                    <div class="address-item">
                                                        <span class="title">Telefono</span>
                                                        <span class="content">
                                                            {% for alumno in alumnos %}
                                                                #{{ alumno.id }} ---> {{ alumno.telefono }}
                                                                <br>
                                                            {% endfor %}
                                                        </span>
                                                    </div>
{#                                                    <div class="address-item">#}
{#                                                        <span class="title">Reseña</span>#}
{#                                                        {% if pedido.hasResena %}#}
{#                                                            <span class="content">Recibida</span>#}
{#                                                        {% else %}#}
{#                                                            <span class="content">No recibida</span>#}
{#                                                        {% endif %}#}
{#                                                    </div>#}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="order-address">

                                            {% if ofertas %}
                                                <div id="order_payment" class="col-md-6 order-info">
                                                    <table id="oferta_table">
                                                        <thead>
                                                        <th>Cantidad</th>
                                                        <th>Oferta</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for oferta in ofertas %}
                                                            <tr>
                                                                <td><input
                                                                    name="oferta-pedido-cantidad-id-{{ oferta.oferta.id }}"
                                                                    step="any" type="number"
                                                                    id="oferta-{{ oferta.oferta.id }}" min="0"
                                                                    style="max-width: 21%; padding: 0px 0px"
                                                                    value="{{ oferta.quantity }}"></td>
                                                                <td>{{ oferta.oferta.titulo }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr class="order_summary order_total">
                                                            <td class="td-label" colspan="1"></td>
                                                            <td class="total"><span class="money" align="center"
                                                                                    data-currency="EUR">
                                                            <button type="button" onclick="addNewRowOferta()"
                                                                    class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </span></td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div id="order_payment" class="col-md-6 order-info">
                                                    <table id="oferta_table">
                                                        <thead>
                                                        <th>Cantidad</th>
                                                        <th>Oferta</th>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr class="order_summary order_total">
                                                            <td class="td-label" colspan="1"></td>
                                                            <td class="total"><span class="money" align="center"
                                                                                    data-currency="EUR">
                                                            <button type="button" onclick="addNewRowOferta()"
                                                                    class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </span></td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            {% endif %}


                                            {% if menus %}
                                                <div id="order_payment" class="col-md-6 order-info">
                                                    <table id="menu_table">
                                                        <thead>
                                                        <th>Cantidad</th>
                                                        <th>Menu</th>
                                                        </thead>

                                                        <tbody>
                                                        {% for menu in menus %}
                                                            <tr>
                                                                <td><input
                                                                    name="menu-pedido-cantidad-id-{{ menu.menu.id }}"
                                                                    step="any" type="number"
                                                                    id="menu-{{ oferta.oferta.id }}" min="0"
                                                                    style="max-width: 21%; padding: 0px 0px"
                                                                    value="{{ menu.quantity }}"></td>

                                                                <td>{{ menu.menu.nombre }}</td>

                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr class="order_summary order_total">
                                                            <td class="td-label" colspan="1"></td>
                                                            <td class="total"><span class="money" align="center"
                                                                                    data-currency="EUR">
                                                            <button type="button" onclick="addNewRowMenu()"
                                                                    class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </span></td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            {% else %}
                                                <div id="order_payment" class="col-md-6 order-info">
                                                    <table id="menu_table">
                                                        <thead>
                                                        <th>Cantidad</th>
                                                        <th>Menu</th>
                                                        </thead>

                                                        <tbody>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr class="order_summary order_total">
                                                            <td class="td-label" colspan="1"></td>
                                                            <td class="total"><span class="money" align="center"
                                                                                    data-currency="EUR">
                                                            <button type="button" onclick="addNewRowMenu()"
                                                                    class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </span></td>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            {% endif %}

                                        </div>

                                        <br><br>

                                        <div class="order-info">
                                            <div class="order-info-inner">
                                                <table id="order_details">
                                                    <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Precio</th>
                                                        <th class="center" align="center">Cantidad</th>
                                                        <th class="total">Subtotal</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for producto in productos %}
                                                        <tr id="fila-{{ producto.producto.id }}" class="odd">
                                                            <td class="td-product">
                                                                <a align="center"
                                                                   title="">{{ producto.producto.nombre }}</a>
                                                            </td>
                                                            <td class="money"><span class="money"
                                                                                    data-currency="EUR">{{ producto.precio_producto }}€</span>
                                                            </td>
                                                            <td class="quantity" align="left"><input
                                                                    name="producto-pedido-cantidad-id-{{ producto.id }}"
                                                                    step="any" type="number"
                                                                    id="producto-{{ producto.producto.id }}" min="0"
                                                                    style="max-width: 21%; padding: 0px 0px"
                                                                    value="{{ producto.quantity }}"></td>

                                                            <td class="total" align="center"><span class="money"
                                                                                                   data-currency="EUR">{{ producto.subtotal }}€</span>
                                                            </td>
                                                            <td>
                                                                <button type="button"
                                                                        onclick="setZero({{ producto.producto.id }})"
                                                                        class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr class="order_summary order_total">
                                                        <td class="td-label" colspan="4"></td>
                                                        <td class="total"><span class="money" align="center"
                                                                                data-currency="EUR">
                                                            <button type="button" onclick="addNewRowPedido()"
                                                                    class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </span></td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <br><br>
                                        <button type="submit" class="btn btn-default"
                                                style="margin:auto; display:block;">Guardar
                                        </button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Historico de estados</h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statelog in statelogs %}
                        <tr>
                            <th scope="row">{{ statelog.timestamp }}</th>
                            <td>{{ statelog.state }}</td>
                            <td>@{{ statelog.by.username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>

    <script>
        function marcarComoRecogido() {
            document.getElementById('estado_pedido').value = "Entregado";
        }

        $.fn.AutocompleteMenu = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_menu",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_menu-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteOferta = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_oferta",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_oferta-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteName = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_nombre_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_producto-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteRemainingFields = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_id_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#precio_id_producto-" + index).val(data.precio);
                }
            });
        };
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("historic_button");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        };

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

    </script>

    <style>
        table {
            border-collapse: collapse;
        }

        td {
            position: relative;
            padding: 5px 10px;
        }

        tr.strikeout td:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid #111;
            width: 100%;
        }

        {#    * {#}
        {#	padding: 0; margin: 0;	#}
        {#    }#}
{#        html {#}
{#            height: 100.1 & #37;;#}
{#        }#}
    </style>
{% endblock content %}