{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">FAQs</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./faqs.html" title="FAQs" itemprop="url"><span itemprop="title">FAQs</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-faq-template" class="shopify-section">
									<div class="faqs-content">
										<div class="questions-layout">
											<div class="questions-inner">
												<h2 class="faqs-title">Prequently asked questions</h2>
												<div class="accordions-content">
													<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
														<div class="panel panel-default">
															<div class="panel-heading active" role="tab" id="tab_heading1">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse1" aria-expanded="true" aria-controls="tab_collapse1"><span class="cs-icon icon-minus"></span>
																	  1. Prequently asked questions
																	</a>
																</h4>
															</div>
															<div id="tab_collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab_heading1">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading2">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse2" aria-expanded="true" aria-controls="tab_collapse2"><span class="cs-icon icon-plus"></span>
																	  2. Nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading2">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading3">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse3" aria-expanded="true" aria-controls="tab_collapse3"><span class="cs-icon icon-plus"></span>
																	  3. Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading3">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading4">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse4" aria-expanded="true" aria-controls="tab_collapse4"><span class="cs-icon icon-plus"></span>
																	  4. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading4">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading5">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse5" aria-expanded="true" aria-controls="tab_collapse5"><span class="cs-icon icon-plus"></span>
																	  5. Morbi accumsan ipsum ?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading5">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading6">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse6" aria-expanded="true" aria-controls="tab_collapse6"><span class="cs-icon icon-plus"></span>
																	  6. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading6">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading " role="tab" id="tab_heading7">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#accordion" href="#tab_collapse7" aria-expanded="true" aria-controls="tab_collapse7"><span class="cs-icon icon-plus"></span>
																	  7. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
																	</a>
																</h4>
															</div>
															<div id="tab_collapse7" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab_heading7">
																<div class="panel-body">
																	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
																</div>
															</div>
														</div>
														<script>
															jQuery(function($) {
																var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
																$active.find('a').prepend('<span class="cs-icon icon-minus"></span>');
																$('#accordion .panel-heading').not($active).find('a').prepend('<span class="cs-icon icon-plus"></span>');
																$('#accordion').on('show.bs.collapse', function(e) {
																	$('#accordion .panel-heading.active').removeClass('active').find('.cs-icon').toggleClass('icon-minus icon-plus');
																	$(e.target).prev().addClass('active').find('.cs-icon').toggleClass('icon-plus icon-minus');
																})
															});
														</script>
													</div>
												</div>
											</div>
										</div>
										<div class="contact-layout">
											<div class="contact-inner">
												<h2 class="faqs-title">Still have questions? Contact us leave a comment</h2>
												<div class="contact-content">
													<form method="post" action="./contact.html" id="contact_form" class="contact-form" accept-charset="UTF-8">
														<div id="contactFormWrapper">
															<div class="col-md-6">
																<div class="form-item">
																	<label>Username</label>
																	<input type="text" id="contactFormName" name="contact[name]">
																</div>
																<div class="form-item">
																	<label>Email</label>
																	<input type="email" id="contactFormEmail" name="contact[email]" placeholder="">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-item">
																	<label>Your message</label>
																	<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder=""></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-item">
																	<input type="submit" id="contactFormSubmit" value="Send" class="_btn">
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}