{% extends 'base.html' %}
{% load humanize %}
{% load main_tags %}


{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">Ofertas</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index.html" title="Fast Food" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./account.html" title="My Account" itemprop="url"><span
                                                    itemprop="title">Ofertas</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account-layout">
                <div class="account-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="account-inner">
                                <div class="account-content">
                                    <div class="account-orders">
                                        <div class="account-orders-inner">
                                            <button type="button" class="btn btn-default" style="margin:auto; display:block;" onclick="location.href='/nueva-oferta'">Crear nuevo</button><br><br>

                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Oferta ID</th>
                                                    <th>Nombre</th>
                                                    <th>Descuento</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for oferta in ofertas %}
                                                    <tr>
                                                        <td><a href="./order.html" title="">{{ oferta.id}}</a></td>
                                                        <td><span>{{ oferta.titulo }}</span></td>
                                                        <td><span>{{ oferta.id|mostrarDescuento }}</span>
                                                        </td>
                                                        <td><span>{{ oferta.get_estado_display }}</span>
                                                        </td>


                                                        <td>
                                                             <button type="button" onclick="location.href='/ver-oferta/{{oferta.id}}'" class="btn btn-default">
                                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                            </button>
                                                            {% if oferta.estado == 1%}
                                                                 <button type="button" onclick="location.href='/cancelar-oferta/{{oferta.id}}'" class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

{% endblock content %}