{% extends 'base.html' %}
{% block content %}
	
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Order History</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./order.html" title="Order History" itemprop="url"><span itemprop="title">Order History</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="order-layout">
				<div class="order-wrapper">
					<div class="container">
						<div class="row">
							<div class="order-inner">
								<div class="order-content">
									<div class="order-id">
										<h2>Order #1002</h2>
										<span class="date">14 Nov 06:42</span>
										<div id="order-cancelled" class="flash notice">
											<h5 id="order-cancelled-title">Order Cancelled on <span class="note">19 Sep 06:34</span></h5>
											<span class="note">Reason: customer</span>
										</div>
									</div>
									<div class="order-address">
										<div id="order_payment" class="col-md-6 address-items">
											<h2 class="address-title">Billing Address</h2>
											<div class="address-content">
												<div class="address-item">
													<span class="title">Payment Status:</span>
													<span class="content">Voided</span>
												</div>
												<div class="address-item name">
													<span class="title">Your name:</span>
													<span class="content">Jin Alkaid</span>
												</div>
												<div class="address-item">
													<span class="title">Your phone:</span>
													<span class="content">11111</span>
												</div>
												<div class="address-item">
													<span class="title">State / Province:</span>
													<span class="content">Đường trục, Binh Thanh</span>
												</div>
												<div class="address-item">
													<span class="title">City:</span>
													<span class="content">Ho Chi Minh</span>
												</div>
												<div class="address-item">
													<span class="title">Zip / Postal Code:</span>
													<span class="content">700000</span>
												</div>
											</div>
										</div>

										<div id="order_shipping" class="col-md-6 address-items">
											<h2 class="address-title">Shipping Address</h2>
											<div class="address-content">
												<div class="address-item">
													<span class="title">Fulfillment Status:</span>
													<span class="content">Unfulfilled</span>
												</div>
												<div class="address-item name">
													<span class="title">Your name:</span>
													<span class="content">Jin Alkaid</span>
												</div>
												<div class="address-item">
													<span class="title">Your phone:</span>
													<span class="content">111</span>
												</div>
												<div class="address-item">
													<span class="title">State / Province:</span>
													<span class="content">Đường trục, Binh Thanh</span>
												</div>
												<div class="address-item">
													<span class="title">City:</span>
													<span class="content">Ho Chi Minh</span>
												</div>
												<div class="address-item">
													<span class="title">Zip / Postal Code:</span>
													<span class="content">700000</span>
												</div>
											</div>
										</div>
									</div>
									<div class="order-info">
										<div class="order-info-inner">
											<table id="order_details">
												<thead>
													<tr>
														<th>Product</th>
														<th>SKU</th>
														<th>Price</th>
														<th class="center">Quantity</th>
														<th class="total">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr id="10324769618" class="odd">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 6</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">1</td>
														<td class="total"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
													</tr>
													<tr id="10324769682" class="even">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 14</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">2</td>
														<td class="total"><span class="money" data-currency-usd="$518.00" data-currency="USD">$518.00</span></td>
													</tr>
													<tr id="10324769746" class="odd">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 1</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">2</td>
														<td class="total"><span class="money" data-currency-usd="$518.00" data-currency="USD">$518.00</span></td>
													</tr>
													<tr id="10324769810" class="even">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 12</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">2</td>
														<td class="total"><span class="money" data-currency-usd="$518.00" data-currency="USD">$518.00</span></td>
													</tr>
													<tr id="10324769874" class="odd">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 7 - S / Black</a>
														</td>
														<td class="sku note">CA78963</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">2</td>
														<td class="total"><span class="money" data-currency-usd="$518.00" data-currency="USD">$518.00</span></td>
													</tr>
													<tr id="10324769938" class="even">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 11</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">3</td>
														<td class="total"><span class="money" data-currency-usd="$777.00" data-currency="USD">$777.00</span></td>
													</tr>
													<tr id="10324770002" class="odd">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 8</a>
														</td>
														<td class="sku note">CA78977</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">3</td>
														<td class="total"><span class="money" data-currency-usd="$777.00" data-currency="USD">$777.00</span></td>
													</tr>
													<tr id="10324770066" class="even">
														<td class="td-product">
															<a href="./product.html" title="">Lorem Ipsum tizzy 9 - S / Black</a>
														</td>
														<td class="sku note">CA78963</td>
														<td class="money"><span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span></td>
														<td class="quantity ">7</td>
														<td class="total"><span class="money" data-currency-usd="$1,813.00" data-currency="USD">$1,813.00</span></td>
													</tr>
												</tbody>
												<tfoot>
													<tr class="order_summary note">
														<td class="td-label" colspan="4">Subtotal</td>
														<td class="subtotal"><span class="money" data-currency-usd="$5,698.00" data-currency="USD">$5,698.00</span></td>
													</tr>
													<tr class="order_summary note">
														<td class="td-label" colspan="4">Standard Shipping:</td>
														<td class="shipping"><span class="money" data-currency-usd="$10.00" data-currency="USD">$10.00</span></td>
													</tr>
													<tr class="order_summary note">
														<td class="td-label" colspan="4">VAT 10.0%:</td>
														<td class="vat"><span class="money" data-currency-usd="$569.80" data-currency="USD">$569.80</span></td>
													</tr>
													<tr class="order_summary order_total">
														<td class="td-label" colspan="4">Total</td>
														<td class="total"><span class="money" data-currency-usd="$6,277.80" data-currency="USD">$6,277.80</span> </td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% endblock content %}