{% extends 'base.html' %}
{% load humanize %}
{% load main_tags %}


{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">My Account</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index" title="Fast Food" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./account.html" title="My Account" itemprop="url"><span
                                                    itemprop="title">Pedidos</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account-layout">
                <div class="account-wrapper">
                    <div class="container">
                        <div class="row">
                        <form method="post" id="main_form" enctype="multipart/form-data" class="well form-horizontal"> {% csrf_token %}
                                              <div class="form-group">
                                                <label class="col-sm-2 control-label">Rango fechas</label>
                                                <div class="col-sm-4">
                                                  <div class="input-group input-daterange">
                                                    <input path="desde" name="range_from"  value="{{ from_date |date:'d/m/Y' }}" class="form-control">
                                                    <span class="input-group-addon">hasta</span>
                                                    <input path="hasta" name="range_to" value="{{ end_date |date:'d/m/Y' }}" class="form-control">
                                                  </div>
                                                </div>
                                                <label class="col-sm-2 control-label">Estado del pedido</label>
                                                <div class="col-sm-4">
                                                    <select name="estado_pedido" class="mdb-select" multiple>
                                                        {% if is_filtered %}
                                                            <option value="all">Todos</option>
                                                            {% for estado in estados %}
                                                                {% if estado in estado_pedido %}
                                                                    <option value="{{ estado }}" selected>{{ estado }}</option>
                                                                {% else %}
                                                                    <option value="{{ estado }}">{{ estado }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            <option value="all" selected>Todos</option>
                                                            {% for estado in estados %}
                                                              <option value="{{ estado }}">{{ estado }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                               </div>
                                              <div class="row">
                                                  <div class="col-sm-offset-2 col-sm-10" align="center">
                                                      <button class="btn btn-primary" name="action" value="filtrar" type="submit">Filtrar</button>
                                                      <button class="btn btn-primary" name="action" value="exportar" type="submit">Exportar</button>
                                                  </div>
                                              </div>
                                            </form>
                            <div class="account-inner">
                                <div class="account-content">
                                    <div class="account-orders">
                                        <div class="account-orders-inner">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th class="order_number">Pedido</th>
                                                    <th class="date">Estado</th>
                                                    <th class="payment_status">Fecha estimada</th>
                                                    <th class="fulfillment_status">Importe/s</th>
                                                    <th class="total">Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for pedido in pedidos %}
                                                    <tr class="odd cancelled_order">
                                                        <td class="td-name"><a href="./order.html" title="">{{ pedido.id}}</a></td>
                                                        <td class="td-note"><span class="note">{{ pedido.estado }}</span></td>
                                                        <td class="td-authorized"><span class="status_voided">{{ pedido.recogida_estimada | date:'d/m/Y h:m'}}</span>
                                                        </td>
                                                        <td class="td-total"><span class="total"><span class="money"
                                                                                                       data-currency-usd="$6,277.80">{{ pedido.importe }}€</span></span>
                                                        </td>


                                                        <td>
                                                             <button type="button" onclick="location.href='/ver-pedido/{{pedido.id}}'" class="btn btn-default">
                                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                            </button>
                                                            {% if not pedido.estado|estaCompleto %}
                                                                 <button type="button" data-name="delete" data-id="{{ pedido.pk }}" class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                                 <button type="button" onclick="location.href='/editar-pedido/{{pedido.id}}'" class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </button>
{#                                                                <a href="#" id="show">Show it</a>#}
                                                                 <button type="button" data-name="show" id="{{ pedido.pk }}" data-code="{{ pedido.codigo_confirmacion }}" class="btn btn-default">
                                                                    <span class="glyphicon glyphicon-thumbs-up"></span> <!-- onclick="location.href='/pedido-preparado/{{pedido.id}}'" -->
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    {% load static %}
    <script type="text/javascript" src="/static/avgrund/jquery.avgrund.js"></script>

{#    <script>#}
{#	$(function() {#}
{#        var e = $('[data-name="show"]');#}
{#        e.avgrund({#}
{#            height: 400,#}
{#            holderClass: 'custom',#}
{#            showClose: true,#}
{#            showCloseText: 'Close',#}
{#            enableStackAnimation: true,#}
{#            onBlurContainer: '.container',#}
{#            template: '<img class="centrar" src="/media/qr/qr-' + e[0].id + '.png"><br><div class="centrar">' + e[0].data-code + '</div>' +#}
{#            '<div>' +#}
{#            '<a href="http://github.com/voronianski/jquery.avgrund.js" target="_blank" class="github">Avgrund on Github</a>' +#}
{#            '<a href="http://twitter.com/voronianski" target="_blank" class="twitter">Twitter</a>' +#}
{#            '<a href="http://dribbble.com/voronianski" target="_blank" class="dribble">Dribbble</a>' +#}
{#            '</div>'#}
{#        });#}
{#	});#}
{#	</script>#}

    <script>
	$(function() {
        var e = $('*[data-name="show"]');
        var i;
        for (i = 0; i < e.length; i++) {
            bttn = e.eq(i);
            bttn.avgrund({
                height: 400,
                holderClass: 'custom',
                showClose: true,
                showCloseText: 'Close',
                enableStackAnimation: true,
                onBlurContainer: '.container',
                template: '<img class="centrar" src="/media/qr/qr-' + bttn.attr('id') + '.png"><br><div align="center" style="font-size: 25px;">Código de Confirmación: ' + bttn.attr('data-code') + '</div>' +
                '<div>' +
                '<a href="/pedido-preparado/'+ bttn.attr('id') +'" target="_self" class="github">Preparado</a>' +
                '<a href="/pedido-recogido/'+ bttn.attr('id') +'" target="_self" class="twitter">Recogido</a>' +
                '</div>'
            });
            }
	});
	$(function() {
        var e = $('*[data-name="delete"]');
        var csfr = "{% csrf_token %}";
        var i;
        var text = '<textarea class="form-control" id="exampleFormControlTextarea1" name="descripcion" placeholder="Escriba la descripción" rows="5" style="font-size: 23px;" maxlength="200"></textarea>';
        for (i = 0; i < e.length; i++) {
            bttn = e.eq(i);
            js0 = 'onclick=\"javascript: form.action=\'/eliminar-pedido/'+ bttn.attr('data-id') + '\';"';
            js1 = 'onclick=\"javascript: form.action=\'pedido-norecogido/'+ bttn.attr('data-id') + '\';"';
            bttn.avgrund({
                height: 400,
                holderClass: 'custom',
                showClose: true,
                showCloseText: 'Close',
                enableStackAnimation: true,
                onBlurContainer: '.container',
                template: '<form method="post" name="form">' + csfr + '<div align="center" style="font-size: 36px;">Comentario</div><br>'+ text +
                '<div>' +
                '<button type="submit"' + js0 + 'target="_self" class="github">Eliminar</button>' +
                '<button type="submit"' + js1 + 'target="_self" class="twitter">No recogido</button>' +
                '</div></form>'
            });
            }
	});
	</script>


{% endblock content %}