{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="customers-layout register-layout">
				<div class="customers-wrapper">
					<div class="container">
						<div class="row">
							<div class="customers-inner">
								<div class="customers-content">
									<div id="register" class="customers">
										<h2>Register</h2>
										<form method="post" action="./account.html" accept-charset="UTF-8">
											<div class="clearfix large_form form-item">
												<input type="text" value="" placeholder="First Name" name="empleado[first_name]" class="text" size="30">
											</div>
											<div class="clearfix large_form form-item">
												<input type="text" value="" placeholder="Last Name" name="empleado[last_name]" class="text" size="30">
											</div>
											<div class="clearfix large_form form-item">
												<input type="email" value="" placeholder="Email" name="empleado[email]" class="text" size="30">
											</div>
											<div class="clearfix large_form form-password form-item">
												<input type="password" value="" placeholder="Password" name="empleado[password]" class="password text" size="30">
												<span class="cs-icon icon-eye"></span>
											</div>
											<div class="action_bottom">
												<input class="_btn" type="submit" value="Create">
												<span class="note"><span class="or">or</span><a href="./index">Return to Store</a></span>
											</div>
										</form>
									</div>
									<!-- #register -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
{% block content %}