{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">Ver Producto</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index" title="Ver Producto" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a title="Ver Producto" itemprop="url"><span
                                                    itemprop="title">Ver Producto</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="order-layout">

                <button class="btn btn-default" onclick="location.href='/editar-producto/{{producto.id}}'"
                            style="margin:auto; display:block;">Editar Producto
                </button>
                <div class="order-wrapper">
                    <form method="post" id="main_form" enctype="multipart/form-data">{% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="order-inner">
                                    <div class="order-content">

                                        <div class="order-address">
                                            <div id="order_payment" class="col-md-6 address-items">
                                                <h2 class="address-title">Imagen</h2>
                                                <div class="address-content">
                                                    {% if producto.imagen %}
                                                        <img src="{{ producto.imagen.url }}">
                                                    {% else %}
                                                        <label>Ninguna imagen asociada</label>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div id="order_shipping" class="col-md-6 address-items">
                                                <h2 class="address-title">Datos</h2>
                                                <div class="address-content">
                                                    <div class="address-item name">
                                                        <span class="title">Estado</span>

                                                        <span class="content">
                                                              <select name="estado" class="form-control" id="estado_id"
                                                                      disabled="disabled">
                                                                  {% if producto.estado == 1 %}
                                                                      <option selected>Activado</option>
                                                                      <option>Desactivado</option>
                                                                  {% else %}
                                                                      <option>Activado</option>
                                                                      <option selected>Desactivado</option>
                                                                  {% endif %}
                                                              </select>
                                                        </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label><h4 align="center">Nombre</h4></label>
                                                        <input type="text" name="nombre" class="form-control"
                                                               id="exampleInputPassword1" style="height: 32px"
                                                               value="{{ producto.nombre }}"
                                                               disabled="disabled"
                                                               placeholder="Escriba el Nombre" maxlength="30">
                                                        <label><h4 align="center">Descripción</h4></label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                  name="descripcion"
                                                                  placeholder="Escriba la descripción" rows="3"
                                                                  disabled="disabled"
                                                                  maxlength="200">{{ producto.descripcion }}</textarea>
                                                    <br>
                                                        <label>Grasas &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Calorias &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Precio</label>
                                                    <div class="trio">
                                                        <input id="trio1" type="text" name="grasas"
                                                               style="padding: 5px 0px; text-align: center; width: 85px; background-color:white"
                                                               value="{{ producto.grasas_saturadas }}"
                                                               disabled="disabled"
                                                               placeholder="Grasas">&nbsp;&nbsp;&nbsp;
                                                        <input id="trio2" type="text" name="calorias"
                                                               style="padding: 5px 0px; text-align: center; width: 85px; background-color:white"
                                                               value="{{ producto.calorias }}"
                                                               disabled="disabled"
                                                               placeholder="Calorias">&nbsp;&nbsp;&nbsp;
                                                        <input type="text" name="precio_producto"
                                                               style="padding: 5px 0px; text-align: center; width: 85px; background-color:white"
                                                               value="{{ producto.precio }}"
                                                               disabled="disabled"
                                                               onkeypress="return onlyNumbers(event)"
                                                               placeholder="Precio">€
                                                    </div>
                                                    <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="order-address">

                                            <div id="order_payment" class="col-md-6 order-info">
                                                <table id="alergeno_table">
                                                    <thead>
                                                    <th>Alergeno</th>
                                                    <th></th>
                                                    </thead>
                                                    <tbody>
                                                    {% for alergeno in alergenos %}
                                                        <tr>
                                                            <td>
                                                                <input type="text" value="{{ alergeno.nombre }}"
                                                                       style="padding: 0px 0px;" autocomplete="off" disabled
                                                                       placeholder="Escriba el nombre">
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>

                                            <div id="order_payment" class="col-md-6 order-info">
                                                <table id="etiquetas_table">
                                                    <thead>
                                                    <th>Etiquetas</th>
                                                    <th></th>
                                                    </thead>
                                                    <tbody>
                                                    {% for etiqueta in etiquetas %}
                                                        <tr>
                                                            <td><input type="text" value="{{ etiqueta.nombre }}"
                                                                       style="padding: 0px 0px;" autocomplete="off" disabled
                                                                       placeholder="Escriba el nombre">
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                    <br><br>
                                    <button class="btn btn-default" onclick="location.href='/eliminar-producto/{{producto.id}}'"
                                            style="margin:auto; display:block;">Eliminar Producto
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Historico de estados</h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statelog in statelogs %}
                        <tr>
                            <th scope="row">{{ statelog.timestamp }}</th>
                            <td>{{ statelog.state }}</td>
                            <td>@{{ statelog.by.username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>


    <script type="text/javascript">

        function b64toBlob(b64Data, contentType, sliceSize) {
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);

            }
            var blob = new Blob(byteArrays, {type: contentType});
            return blob;
        }

        $('#main_form').submit(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            var main_form = document.getElementById('main_form');
            var ImageURL = document.getElementById('imagen-drop');
            if (ImageURL) {
                var block = ImageURL.src.split(";");
                // Get the content type
                var contentType = block[0].split(":")[1];// In this case "image/gif"
                // get the real base64 content of the file
                var realData = block[1].split(",")[1];// In this case "iVBORw0KGg...."
                blob = b64toBlob(realData, contentType);
                // Create a FormData and append the file
                var fd = new FormData(main_form);
                fd.append("image", blob);

                // Submit Form and upload file
                $.ajax({
                    url: "/nuevo-producto/",
                    data: fd,// the formData function is available in almost all new browsers.
                    type: "POST",
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json", // Change this according to your response from the server.
                    error: function (err) {
                        console.error(err);
                    },
                    success: function (data) {
                    },
                    complete: function () {
                        url = "/productos";
                        $(location).attr("href", url);
                    }
                });

            }
            else {
                main_form.submit();
            }
        });


        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                dateFormat: 'dd/mm/yy',
            });
        });

        $.fn.AutocompleteName = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_nombre_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_producto-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteAlergeno = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_nombre_alergeno",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_alergeno-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteEtiqueta = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_nombre_etiqueta",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_etiquetas-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteRemainingFields = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_id_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_id_producto-" + index).val(data.id);
                    $("#precio_id_producto-" + index).val(data.precio);
                    $("#precio_oferta_id_producto-" + index).val(data.precio_oferta);
                }
            });
        };
        var holder = document.getElementById('holder'),
                tests = {
                    filereader: typeof FileReader != 'undefined',
                    dnd: 'draggable' in document.createElement('span'),
                    formdata: !!window.FormData,
                    progress: "upload" in new XMLHttpRequest
                },
                support = {
                    filereader: document.getElementById('filereader'),
                    formdata: document.getElementById('formdata'),
                    progress: document.getElementById('progress')
                },
                acceptedTypes = {
                    'image/png': true,
                    'image/jpeg': true,
                    'image/gif': true
                },
                progress = document.getElementById('uploadprogress'),
                fileupload = document.getElementById('upload');

        "filereader formdata progress".split(' ').forEach(function (api) {
            if (tests[api] === false) {
                support[api].className = 'fail';
            } else {
                // FFS. I could have done el.hidden = true, but IE doesn't support
                // hidden, so I tried to create a polyfill that would extend the
                // Element.prototype, but then IE10 doesn't even give me access
                // to the Element object. Brilliant.
                support[api].className = 'hidden';
            }
        });

        if (tests.dnd) {
            holder.ondragover = function () {
                this.className = 'hover';
                return false;
            };
            holder.ondragend = function () {
                this.className = '';
                return false;
            };
            holder.ondrop = function (e) {
                this.className = '';
                e.preventDefault();
                readfiles(e.dataTransfer.files);
            }
        } else {
            fileupload.className = 'hidden';
            fileupload.querySelector('input').onchange = function () {
                readfiles(this.files);
            };
        }


        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("historic_button");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        };

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

    </script>

{% endblock content %}