{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            <section class="heading-content">
                <div class="heading-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading-inner heading-group">
                                <div class="breadcrumb-group">
                                    <h1 class="hidden">Ver categoría #{{ categoria.id }}</h1>
                                    <div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a
                                                href="./index" title="Fast Food" itemprop="url"><span
                                                itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
                                        <span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a title="Ver categoría #{{ categoria.id }}" itemprop="url"><span
                                                    itemprop="title">Ver categoría #{{ categoria.id }}</span></a>
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="order-layout">
                <button class="btn btn-default" onclick="location.href='/editar-categoria/{{ categoria.id }}'"
                        style="margin:auto; display:block;">Editar Categoría
                </button>
                <div class="order-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="order-inner">
                                <div class="order-content">
                                    <div class="order-address">
                                        <div id="order_payment" class="col-md-6 address-items">
                                            <h2 class="address-title">Imagen</h2>
                                            <div class="address-content">
                                                {% if categoria.imagen %}
                                                    <img src="{{ categoria.imagen.url }}">
                                                {% else %}
                                                    <label>Ninguna imagen asociada</label>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div id="order_shipping" class="col-md-6 address-items">
                                            <h2 class="address-title">Datos</h2>
                                            <div class="address-content">
                                                <div class="address-item name">
                                                    <span class="title">Estado</span>

                                                        <span class="content">
                                                              <select name="estado" class="form-control" id="estado_id"
                                                                      disabled="disabled">
                                                                  {% if categoria.estado == 1 %}
                                                                      <option selected>Activado</option>
                                                                      <option>Desactivado</option>
                                                                  {% else %}
                                                                      <option>Activado</option>
                                                                      <option selected>Desactivado</option>
                                                                  {% endif %}
                                                              </select>
                                                        </span>
                                                </div>
                                                    <div class="address-item name">
                                                        <span class="title">TPM</span>

                                                        <span class="content">
                                                            <input type="number" min="0" name="tpm"
                                                               id="tpm" value="0" value="{{ categoria.tiempo_propagacion_medio }}" style="padding: 5px 0px; text-align: center; width: 85px; background-color:white"
                                                               >
                                                        </span>
                                                    </div>
                                                <div class="form-group">
                                                    <label><h4 align="center">Nombre</h4></label>
                                                    <input type="text" name="titulo" class="form-control"
                                                           id="exampleInputPassword1" value="{{ categoria.nombre }}"
                                                           disabled="disabled"
                                                           placeholder="Escriba el titulo" maxlength="30">
                                                    <label><h4 align="center">Descripción</h4></label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                  name="descripcion"
                                                                  placeholder="Escriba la descripción" rows="7"
                                                                  disabled="disabled"
                                                                  maxlength="200">{{ categoria.descripcion }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-info">
                                        <div class="order-info-inner">
                                            <table id="order_details">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">Producto ID</th>
                                                    <th style="text-align: center">Nombre Producto</th>
                                                    <th style="text-align: center">Precio</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for producto in productos %}
                                                    <tr id="fila-" class="odd">
                                                        <td align="center" class="td-product">
                                                            #{{ producto.id }}
                                                        </td>
                                                        <td align="center" class="td-product">
                                                            {{ producto.nombre }}
                                                        </td>
                                                        <td align="center" class="td-product">
                                                            {{ producto.precio }}€
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    {% if not productos %}
                                                    <tr class="order_summary order_total">
                                                        <td class="td-label" colspan="4">Ningún producto seleccionado
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <br><br>
                                    <button class="btn btn-default"
                                            onclick="location.href='/eliminar-categoria/{{ categoria.id }}'"
                                            style="margin:auto; display:block;">Eliminar Categoría
                                    </button>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Historico de estados</h2>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for statelog in statelogs %}
                        <tr>
                            <th scope="row">{{ statelog.timestamp }}</th>
                            <td>{{ statelog.state }}</td>
                            <td>@{{ statelog.by.username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>

    <script type="text/javascript">

        function b64toBlob(b64Data, contentType, sliceSize) {
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);

            }
            var blob = new Blob(byteArrays, {type: contentType});
            return blob;
        }

        $('#main_form').submit(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            var main_form = document.getElementById('main_form');
            var ImageURL = document.getElementById('imagen-drop');
            if (ImageURL) {
                var block = ImageURL.src.split(";");
                // Get the content type
                var contentType = block[0].split(":")[1];// In this case "image/gif"
                // get the real base64 content of the file
                var realData = block[1].split(",")[1];// In this case "iVBORw0KGg...."
                blob = b64toBlob(realData, contentType);
                // Create a FormData and append the file
                var fd = new FormData(main_form);
                fd.append("image", blob);

                // Submit Form and upload file
                $.ajax({
                    url: "/nueva-categoria/",
                    data: fd,// the formData function is available in almost all new browsers.
                    type: "POST",
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: "json", // Change this according to your response from the server.
                    error: function (err) {
                        console.error(err);
                    },
                    success: function (data) {
                    },
                    complete: function () {
                        url = "/categorias";
                        $(location).attr("href", url);
                    }
                });

            }
            else {
                main_form.submit();
            }
        });

        $.fn.AutocompleteName = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_nombre_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_nombre_producto-" + index).autocomplete({
                        source: data.list,
                        minLength: 1
                    });
                }
            });
        };

        $.fn.AutocompleteRemainingFields = function (index) {
            var value = $(this).val();
            $.ajax({
                url: "/ajax/autocomplete_id_producto",
                data: {
                    'search': value
                },
                dataType: 'json',
                success: function (data) {
                    $("#id_id_producto-" + index).val(data.id);
                    $("#precio_id_producto-" + index).val(data.precio);
                    $("#precio_oferta_id_producto-" + index).val(data.precio_oferta);
                }
            });
        };
        var holder = document.getElementById('holder'),
                tests = {
                    filereader: typeof FileReader != 'undefined',
                    dnd: 'draggable' in document.createElement('span'),
                    formdata: !!window.FormData,
                    progress: "upload" in new XMLHttpRequest
                },
                support = {
                    filereader: document.getElementById('filereader'),
                    formdata: document.getElementById('formdata'),
                    progress: document.getElementById('progress')
                },
                acceptedTypes = {
                    'image/png': true,
                    'image/jpeg': true,
                    'image/gif': true
                },
                progress = document.getElementById('uploadprogress'),
                fileupload = document.getElementById('upload');

        "filereader formdata progress".split(' ').forEach(function (api) {
            if (tests[api] === false) {
                support[api].className = 'fail';
            } else {
                // FFS. I could have done el.hidden = true, but IE doesn't support
                // hidden, so I tried to create a polyfill that would extend the
                // Element.prototype, but then IE10 doesn't even give me access
                // to the Element object. Brilliant.
                support[api].className = 'hidden';
            }
        });

        if (tests.dnd) {
            holder.ondragover = function () {
                this.className = 'hover';
                return false;
            };
            holder.ondragend = function () {
                this.className = '';
                return false;
            };
            holder.ondrop = function (e) {
                this.className = '';
                e.preventDefault();
                readfiles(e.dataTransfer.files);
            }
        } else {
            fileupload.className = 'hidden';
            fileupload.querySelector('input').onchange = function () {
                readfiles(this.files);
            };
        }


        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("historic_button");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        };

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

    </script>

{% endblock content %}