{% extends 'base.html' %}
{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="heading-content">
				<div class="heading-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-heading-inner heading-group">
								<div class="breadcrumb-group">
									<h1 class="hidden">Wish List</h1>
									<div class="breadcrumb clearfix">
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
										</span>
										<span class="arrow-space"></span>
										<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
											<a href="./wish-list.html" title="Wish List" itemprop="url"><span itemprop="title">Wish List</span></a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="container wishlist-page shop_area">
				<div class="row">
					<div id="wishlistcontent">
						<span class="wishlist-count">3 Saved products</span>
						<ul>
							<li class="wishlist-heading">
								<div class="wishlist-image">
									Image
								</div>
								<div class="wishlist-name">
									Name
								</div>
								<div class="wishlist-price">
									Price
								</div>
								<div class="wishlist-addCart">
									Add to cart
								</div>
								<div class="wishlist-remove">
									Remove
								</div>
							</li>
							<li class="wlr wishlist-juice-ice-tea-1 wishlist-added">
								<div class="wishlist-image wishlist-image-213224194087"><img src="static/assets/images/800x800.png" alt=""></div>
								<div class="wishlist-name"><a href="./product.html">Extra Crispy</a></div>
								<div class="wishlist-price wishlist-price-213224194087"><span class="price"><span class="money" data-currency-usd="$20.00" data-currency="USD">$20.00</span></span>
								</div>
								<div class="wishlist-addCart">
									<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
										<div class="quantity-content"><label>QTY</label><input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
										<div class="others-bottom"><a href="./cart.html" class=" wishlist-addToCart _btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a></div>
									</form>
								</div>
								<div class="wishlist-remove" data-wishlisthandle="juice-ice-tea-1"><span class="cs-icon icon-bin"></span></div>
							</li>
							<li class="wlr wishlist-juice-ice-tea-1 wishlist-added">
								<div class="wishlist-image wishlist-image-213224194087"><img src="static/assets/images/800x800.png" alt=""></div>
								<div class="wishlist-name"><a href="./product.html">Juice Ice Tea</a></div>
								<div class="wishlist-price wishlist-price-213224194087"><span class="price"><span class="money" data-currency-usd="$20.00" data-currency="USD">$20.00</span></span>
								</div>
								<div class="wishlist-addCart">
									<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
										<div class="quantity-content"><label>QTY</label><input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
										<div class="others-bottom"><a href="./cart.html" class=" wishlist-addToCart _btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a></div>
									</form>
								</div>
								<div class="wishlist-remove" data-wishlisthandle="juice-ice-tea-1"><span class="cs-icon icon-bin"></span></div>
							</li>
							<li class="wlr wishlist-juice-ice-tea wishlist-added">
								<div class="wishlist-image wishlist-image-213223931943"><img src="static/assets/images/800x800.png" alt=""></div>
								<div class="wishlist-name"><a href="./product.html">Juice Ice Tea</a></div>
								<div class="wishlist-price wishlist-price-213223931943"><span class="price"><span class="money" data-currency-usd="$20.00" data-currency="USD">$20.00</span></span>
								</div>
								<div class="wishlist-addCart">
									<form action="./cart.html" method="post" class="variants" enctype="multipart/form-data">
										<div class="quantity-content"><label>QTY</label><input type="text" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1"></div>
										<div class="others-bottom"><a href="./cart.html" class=" wishlist-addToCart _btn btn-quick-shop add-to-cart" style="opacity: 1;">Add to cart</a></div>
									</form>
								</div>
								<div class="wishlist-remove" data-wishlisthandle="juice-ice-tea"><span class="cs-icon icon-bin"></span></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</div>
	
{% endblock content %}